<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="cont_form_data_id" name="cont_form_data_id" th:value="${contFormData.cont_form_data_id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">表单表主键：</label>
								<div class="col-sm-8">
									<input id="contFormId" name="contFormId" th:value="${contFormData.contFormId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">标题：</label>
								<div class="col-sm-8">
									<input id="title" name="title" th:value="${contFormData.title}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">值：</label>
								<div class="col-sm-8">
									<input id="value" name="value" th:value="${contFormData.value}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">标题样式：</label>
								<div class="col-sm-8">
									<input id="titleStyle" name="titleStyle" th:value="${contFormData.titleStyle}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">输入框样式：</label>
								<div class="col-sm-8">
									<input id="inputStyle" name="inputStyle" th:value="${contFormData.inputStyle}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人id：</label>
								<div class="col-sm-8">
									<input id="createBy" name="createBy" th:value="${contFormData.createBy}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="gmtCreate" name="gmtCreate" th:value="${contFormData.gmtCreate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="gmtModified" name="gmtModified" th:value="${contFormData.gmtModified}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/cont/contFormData/edit.js">
	</script>
</body>
</html>
