<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>

</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="col-sm-12">
							<h4>发布文章</h4>
						</div>
						<form class="form-horizontal m-t" id="signupForm">
							<input id="cid" name="cid" type="hidden">
							<div class="form-group">
								<label class="col-sm-1 control-label">标题：</label>
								<div class="col-sm-4">
									<input id="title" name="title" class="form-control" type="text">
								</div>
								<label class="col-sm-1 control-label">作者：</label>
								<div class="col-sm-4">
									<input id="author" name="author" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">摘要：</label>
								<div class="col-sm-11">
									<textarea id="resume" name="resume" class="form-control" rows="3"/>
								</div>
							</div>
							<div class="form-group">
								<input id="content" name="content" type="hidden"> <label
									class="col-sm-1 control-label">内容：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote"></div>
									</div>
								</div>
							</div>
							<!-- <div class="form-group">
								<label class="col-sm-1 control-label">类型：</label>
								<div class="col-sm-11">
									<input id="categories" name="categories" class="form-control" type="text">
								</div> 
							</div> -->
							<div class="form-group">
								<label class="col-sm-1 control-label">语言：</label>
								<div class="col-sm-4">
									<select name="langType" class="btn btn-default">
										<hzof th:each="langType,interStat:${langTypes}">
											<option th:value="${langType.value}" th:text="${langType.name}"></option>
										</hzof>
									</select>
								</div>
								<label class="col-sm-1 control-label">文章类型：</label>
								<div class="col-sm-4">
									<select name="type" class="btn btn-default">
										<hzof th:each="newsType,interStat:${newsTypes}">
											<option th:value="${newsType.value}" th:text="${newsType.name}"></option>
										</hzof>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-3">
										<div class="ibox float-e-margins">
											<div class="ibox-content">
												<div class="file-manager">
													<button type="button" class="layui-btn" id="test1">
														<i class="fa fa-cloud"></i>上传文件
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-9 animated fadeInRight">
										<div class="row">
											<div class="col-sm-12">
												<div class="file-box">
													<div class="file">
														<a href="#">
															<span class="corner"></span>
															<div class="image">
																<img id="image" alt="image" class="img-responsive" src="">
																<input id="imgUrl" name="imgUrl" type="hidden"/>
															</div>
															&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
															<button class="btn btn-danger btn-xs" onclick="removeImg()">删除</button>
														</a>
													</div>
												</div>
												<div id="incomeNum"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="text-right form-group">
								<a class="btn btn-default waves-effect waves-light"
									onclick="returnList()">返回列表</a>
								<button type="button"
									class="btn btn-primary waves-effect waves-light" type="submit">提交上线</button>
								<button type="button"
									class="btn btn-warning waves-effect waves-light"
									onclick="save(0)">存为草稿</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/layui.js"></script>

	<script type="text/javascript" src="/js/appjs/blog/bContent/add.js">
		
	</script>
</body>
</html>
