<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>investment casting|lost wax casting|aluminum investment casting|vacuum investment casting|stainless steel
        investment casting|steel investment casting| - Taiyuan SIMIS Industry Co.,Ltd.</title>
    <meta name="keywords"
          content="investment casting, investment castings, lost wax casting, China investment casting, stainless steel investment casting, aluminum investment casting, carbon steel investment casting, alloy steel investment casting, superalloy investment casting"/>
    <meta name="description"
          content="A professional investment casting manufacturer provides all kinds of investment cast made by lost wax casting process."/>
    <meta name="author" content="Web Design: xiaoyuer QQ:195094303 website: www.shejifang.net"/>
    <link href="/xmx/css/css.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="js/comm.js"></script>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/xmx/js/show.js"></script>
    <link rel="shortcut icon" href=" /favicon.ico"/>
    <style>
        .clearfix {
            clear: both;
        }

        .banner {
            width: 100%;
            margin: 0 auto;
            position: relative;
        }

        .banner .pic {
            width: 100%;
            overflow: hidden;
        }

        .banner .pic ul {
            width: 400%;
        }

        .banner .pic ul li {
            width: 25%;
            float: left;
        }

        .banner .pic ul li img {
            width: 100%;
        }

        .banner .line {
            width: 120px;
            height: 4px;
            margin: 0 auto;
            position: absolute;
            bottom: 20px;
            left: calc(50% - 50px);
        }

        .banner .line span {
            float: left;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #fff;
            margin: 0 10px;
        }

        .banner .line .line_bth {
            background-color: #fb8000;
        }

        .banner .btn div {
            width: 32px;
            height: 32px;
            background: #000;
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            position: absolute;
            top: calc(50% - 16px);
            display: none;
        }

        .banner .btn .leftBtn {
            left: 20px;
        }

        .banner .btn .rightBtn {
            right: 20px;
        }

        .banner:hover .btn .leftBtn,
        .banner:hover .btn .rightBtn {
            display: block;
        }

        .banner .btn div:hover {
            background: #000; /*怕IE浏览器不支持透明，所以又写了个背景色，*/
            background: rgba(0, 0, 0, 0.5); /*透明和黑*/
        }

        .proimg img {
            position: static;
            top: -50%;
            left: -50%;
            vertical-align: middle;
            max-width: 148px;
            max-height: 148px;
        }


    </style>
</head>
<body>
<div id="site">
    <div id="topline">
        investment casting|lost wax casting|aluminum investment casting|vacuum investment casting|stainless steel
        investment casting|steel investment casting|.
    </div>
    <div id="top">
        <div id="logo"><a href="index.html" title="A&M Manufacturing Co.Ltd"><img src="/xmx/images/logo.png"
                                                                                  alt="A&M Manufacturing Co.Ltd"
                                                                                  border="0"/></a></div>
        <div id="search">
            <form id="form1" name="form1" method="get" action="">

                <ul>
                    <li><strong>Search Product:</strong></li>
                    <li>
                        <input name="modval_" id="modval_" type="text" value="Enter Search Keyword"
                               onfocus="javascript:if(this.value=='Enter Search Keyword')this.value=''"
                               onblur="javascript:if(this.value=='')this.value='Enter Search Keyword'"
                               onkeydown="if(event.keyCode==13){search_();return false;}" class="search_input"/>
                    </li>
                    <li>
                        <select name="type_" id="type_" class="search_select">
                            <option selected="selected" value="">All Categories</option>

                            <option value="40">Stainless steel investment casting</option>

                            <option value="41">Alloy steel and carbon steel investment casting</option>

                            <option value="43">Aluminum investment casting</option>

                            <option value="44">Superalloy investment casting</option>

                            <option value="46">Copper investment casting</option>

                            <option value="48">Ductile iron investment casting</option>

                            <option value="49">CNC machining parts</option>

                            <option value="50">Iron sand casting</option>

                            <option value="51">Steel sand casting</option>

                            <option value="52">Metal Artware</option>

                            <option value="53">Aluminum die casting</option>

                        </select>
                    </li>
                    <li>
                        <input type="button" class="search_btn" onclick="javascript:searchwithtype_();"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li><a title="Home" href="index.html" rel="nofollow"><strong>Home</strong></a></li>
            <li><a title="About Us" href="About-Us.html"><strong>About Us</strong></a></li>
            <li style="z-index: 555;"><a
                    class="hide" href="Products.html"><b>Products</b></a>


                <ul>

                    <li><a class="hide" href="stainless-steel-investment-casting-1.html"
                           title="Stainless steel investment casting">Stainless steel investment casting</a>


                        <ul>

                            <li><a href="auto-parts-1.html" title="Auto parts">Auto parts</a></li>

                            <li><a href="valve-parts-1.html" title="Valve parts">Valve parts</a></li>

                        </ul>

                    <li><a class="hide" href="alloy-steel-investment-casting-1.html"
                           title="Alloy steel and carbon steel investment casting">Alloy steel and carbon steel
                        investment casting</a>


                        <ul>

                            <li><a href="mining-drill-bits-1.html" title="Mining drill bits">Mining drill bits</a></li>

                            <li><a href="clamp-casting-1.html" title="Clamp casting">Clamp casting</a></li>

                        </ul>

                    <li><a class="hide" href="aluminum-investment-casting-1.html" title="Aluminum investment casting">Aluminum
                        investment casting</a>


                        <ul>

                            <li><a href="auto-parts-1.html" title="Auto parts">Auto parts</a></li>

                            <li><a href="impeller-and-turbine-1.html" title="Impeller and turbine">Impeller and
                                turbine</a></li>

                        </ul>

                    <li><a class="hide" href="superalloy-investment-casting-1.html"
                           title="Superalloy investment casting">Superalloy investment casting</a>


                        <ul>

                            <li><a href="blades-and-vanes-for-industrial-gas-turbine-1.html"
                                   title="blades and vanes for industrial gas turbine">blades and vanes for industrial
                                gas turbine</a></li>

                            <li><a href="impeller-for-submersible-pump-1.html" title="Impeller for submersible pump">Impeller
                                for submersible pump</a></li>

                        </ul>

                    <li><a class="hide" href="metal-artware-1.html" title="Metal Artware">Metal Artware</a>


                        <ul>

                            <li><a href="gift-souvenir-medal-1.html" title="Gift souvenir medal">Gift souvenir medal</a>
                            </li>

                            <il><a href="stainless-steel-artware-1-1.html" title="Stainless Steel Artware">Stainless
                                Steel Artware</a></li>

                        </ul>

                    <li><a class="hide" href="copper-investment-casting-1.html" title="Copper investment casting">Copper
                        investment casting</a>


                        <ul>

                            <li><a href="copper-valve-casting-1.html" title="Copper valve casting">Copper valve
                                casting</a></li>

                            <li><a href="copper-impeller-casting-1.html" title="Copper impeller casting">Copper impeller
                                casting</a></li>

                            <li><a href="copper-joint-casting-1.html" title="Copper joint casting">Copper joint
                                casting</a></li>

                        </ul>

                    <li><a class="hide" href="aluminum-die-casting-1.html" title="Aluminum die casting">Aluminum die
                        casting</a>


                        <ul>

                            <li><a href="auto-parts-1.html" title="Aluminum auto parts">Aluminum auto parts</a></li>

                            <li><a href="housing-1.html" title="Housing">Housing</a></li>

                            <li><a href="radiator-shell-1.html" title="Radiator shell">Radiator shell</a></li>

                            <li><a href="customized-parts-1.html" title="Customized parts">Customized parts</a></li>

                        </ul>

                    <li><a class="hide" href="ductile-iron-investment-casting-1.html"
                           title="Ductile iron investment casting">Ductile iron investment casting</A>


                    <li><a class="hide" href="cnc-machining-parts-1.html" title="CNC machining parts">CNC machining
                        parts</a>


                        <ul>

                            <li><a href="stop-collar-1.html" title="Stop collar">Stop collar</a></li>

                        </ul>

                    <li><a class="hide" href="sand-casting-1.html" title="Iron sand casting">Iron sand casting</a>


                        <ul>

                            <li><a href="agricultural-machinery-casting-1.html" title="Agricultural machinery casting">Agricultural
                                machinery casting</a></li>

                            <li><a href="air-conditioner-parts-1.html" title="Air conditioner parts">Air conditioner
                                parts</a></li>

                            <li><a href="construction-parts-1.html" title="Construction parts">Construction parts</a>
                            </li>

                            <li><a href="sewing-machine-parts-1.html" title="Sewing machine parts">Sewing machine
                                parts</a></li>

                            <li><a href="armature-casting-1.html" title="Armature casting">Armature casting</a></li>

                            <li><a href="adi-casting-1.html" title="ADI casting">ADI casting</a></li>

                        </ul>

                    <li><a class="hide" href="steel-sand-casting-1.html" title="Steel sand casting">Steel sand
                        casting</a>


                        <ul>

                            <li><a href="auto-spare-part-1.html" title="Auto spare part">Auto spare part</a></li>

                            <li><a href="engineering-machinery-and-mining-machinery-1.html"
                                   title="Engineering machinery and mining machinery">Engineering machinery and mining
                                machinery</a></li>

                            <li><a href="pump-valve-parts-1.html" title="pump valve parts">pump valve parts</a></li>

                            <li><a href="mine-truck-parts-1.html" title="Mine truck parts">Mine truck parts</a></li>

                            <LI><A href="railway-vehicle-parts-1.html" title="Railway vehicle parts">Railway vehicle
                                parts</A></LI>

                        </ul>

                </ul>

            </li>


            <li><a title="News" href="News.html"><b>News</b></a></li>
            <li><a title="Capability" href="Capability.html"><b>Capability</b></a></li>

            <li><a title="Contact Us" href="contact-us.html"><b>Contact Us</b></a></li>
            <li><a href="mailto:market@investment-casting.biz"><b>E-mail:</b> market@investment-casting.biz</a></li>
        </ul>

    </div>
    <div class="maint"></div>
    <div id="curpos"></div>
    <div id="main">
        <div id="left">
            <div class="lefttop"></div>
            <div class="ltit" v-on:click="init"><strong>Products Catagories</strong></div>
            <div id="nav">
                <div class="navmid">
                    <dl>

                        <dt v-for="(item,index) in categoryTree.children">
                            <ul>
                                <!--一级分类-->
                                <li><a href="javascript:void(0);" v-on:click="listProduct(item.id,item.text)" :title="item.text">
                                    <h2>{{item.text}}</h2>
                                </a>&nbsp;(9)
                                </li>
                                <!--二级分类-->
                                <li v-for="(item2,index2) in item.children">
                                    <a href="javascript:void(0);" v-on:click="listProduct(item.id,item.text)" :title="item2.text"><p>{{item2.text}}</p></a>&nbsp;(4)
                                </li>
                            </ul>
                        </dt>

                    </dl>
                </div>
            </div>

            <div class="ltit"><strong>News &amp; Events</strong></div>
            <div class="contactBox">
                <div id="i_news">
                    <div class="inner">
                        <ul>

                            <li>
                                <h2><a href="../tuv-certificate-156.html">TUV Certificate...</a></h2>
                                <span class="time" style="padding-left:15px;">[2017-7-4 10:54:01]</span>
                                <p style="padding-left:15px;">Our SIMIS just get the TUV Certificate and Alibaba
                                    Assessed Supplier ....</p>
                            </li>

                            <li>
                                <h2><a href="../the-investment-casting-process-155.html">The Investment Casting
                                    Proce...</a></h2>
                                <span class="time" style="padding-left:15px;">[2017-7-3 8:14:52]</span>
                                <p style="padding-left:15px;">The investment casting or “lost wax” process is ancient in
                                    its origin, 4000 BC. Although the process is ancient in origin we can attribute the
                                    success...</p>
                            </li>

                            <li>
                                <h2><a href="../adi-casting-154.html">ADI CASTING...</a></h2>
                                <span class="time" style="padding-left:15px;">[2017-6-27 15:44:11]</span>
                                <p style="padding-left:15px;">At SIMIS Foundry we have been producing austempered
                                    ductile iron castings for the last 30 years. As well as austempered ductile iron
                                    castings, our cus...</p>
                            </li>

                            <li>
                                <h2><a href="../the-high-pressure-aluminum-die-casting-process-153.html">The high
                                    pressure aluminum d...</a></h2>
                                <span class="time" style="padding-left:15px;">[2016-9-21 8:26:54]</span>
                                <p style="padding-left:15px;">high pressure aluminum die casting...</p>
                            </li>

                            <li>
                                <h2><a href="../the-advantages-and-disadvantages-of-lost-foam-casting-152.html">The
                                    advantages and disadvant...</a></h2>
                                <span class="time" style="padding-left:15px;">[2016-2-22 9:04:19]</span>
                                <p style="padding-left:15px;">The advantages and disadvantages of lost foam
                                    casting...</p>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="ltit"><strong>Contact Information</strong></div>
            <div class="contactBox">
    <span style="padding:0 0 10px 10px;"><strong>A&M Manufacturing Co.Ltd</strong><br/><strong>Add:</strong>&nbsp;Taiyuan City, Shanxi Province, China<br/>
    <strong>Tel.:</strong>&nbsp;0086-351-4063799<br/><strong>Email:</strong>&nbsp;<a
                href="mailto:market@investment-casting.biz">market@investment-casting.biz</a><br/><strong>Web:</strong>&nbsp;<a
                href="http://www.investment-casting.biz"
                title="Add to your favorates">http://www.investment-casting.biz</a><br/>
    </span>
                <center><a href="contact-us.html"><img src="/xmx/images/contact_now.gif"/></a></center>
                <br/>

                <div class="clear"></div>
            </div>
        </div>
        <div id="right">
            <div id="banner">

                <div class="flash">
                    <div class="banner">
                        <div class="pic">
                            <ul>
                                <li><img src="/xmx/images/banner.jpg" alt=""></li>
                                <li><img src="/xmx/images/banner1.png" alt=""></li>
                                <li><img src="/xmx/images/banner.jpg" alt=""></li>
                                <li><img src="/xmx/images/banner1.png" alt=""></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div class="line">
                            <span class="line_bth"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="btn">
                            <div class="leftBtn">&lt;</div>
                            <div class="rightBtn">&gt;</div>
                        </div>
                    </div>
                    <script>
                        $(".line span").mouseover(//当鼠标指针位于元素上方时，会发生 mouseover 事件。
                            function () {
                                //显示当前控制纽效果，其它按钮恢复原效果
                                $(this).addClass("line_bth").siblings().removeClass();
                                //得到当前按钮的位置数
                                x = $(this).index();
                                i = x;
                                //显示位置数对应的图片，其它图片接着隐藏
                                $(".pic img").hide().eq(x).show();
                            }
                        );
                        //定时器
                        var i = 0;
                        var t = setInterval(move, 3000);

                        function move() {
                            i++;
                            if (i == 4) {
                                i = 0;
                            }
                            ;
                            $(".line span").eq(i).addClass("line_bth").siblings().removeClass();
                            $(".pic img").hide().eq(i).show();

                        }

                        function movel() {
                            i--;
                            if (i == -1) {
                                i = 3;
                            }
                            ;
                            $(".line span").eq(i).addClass("line_bth").siblings().removeClass();
                            $(".pic img").hide().eq(i).show();

                        }

                        //鼠标经过图片暂停
                        $(".pic").hover(
                            function () {
                                clearInterval(t);
                                //显示当前时间 ( setInterval() 函数会每秒执行一次函数，类似手表)。使用 clearInterval() 来停止执行:
                            }, function () {
                                t = setInterval(move, 3000);
                            });
                        //向右点击时间
                        $(".rightBtn").click(
                            function () {
                                move();
                            });
                        //向左点击时间
                        $(".leftBtn").click(
                            function () {
                                movel();
                            }
                        )
                    </script>
                    <!--<script language="javascript" type="text/javascript">

                    var focus_width=742
                    var focus_height=220
                    var text_height=0
                    var swf_height = focus_height+text_height
                    var pics = '';
                    var links = '';
                    var texts = '';

                    function ati(url, img, title)
                    {
                    if(pics != '')
                    {
                    pics = "|" + pics;
                    links = "|" + links;
                    texts = "|" + texts;
                    }
                    pics = escape(img) + pics;
                    links = escape(url) + links;
                    texts = title + texts;
                    }


                    ati('index.html/', '/images/banner.jpg', 'testing workshop');

                    ati('http://www.investment-casting.org/', '/images/banner.jpg', 'machining workshop');

                    ati('http://www.investment-casting.org/', '/images/banner.jpg', 'melting and pouring');

                    ati('http://www.investment-casting.org/', '/images/banner.jpg', 'main picture');


                    var soonidea = '<object classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http:\/\/fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width=\"'+ focus_width +'\" height=\"'+ swf_height +'\">';
                    soonidea += '<param name="movie" value="/\images\/flash_img.swf"><param name="quality" value="high"><param name="bgcolor" value="#ffffff">';
                    soonidea += '<param name=\"menu\" value=\"false\"><param name=wmode value=\"opaque\">';
                    soonidea +='<param name=\"FlashVars\" value=\"pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'\">';
                    soonidea +='<embed src=\"/\images\/flash_img.swf\" wmode=\"opaque\" FlashVars=\"pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'\" menu=\"false\" bgcolor=\"#ffffff\" quality=\"high\" width=\"'+ focus_width +'\" height=\"'+ swf_height +'\" allowScriptAccess=\"sameDomain\" type=\"application\/x-shockwave-flash\" pluginspage=\"http:\/\/www.macromedia.com\/go\/getflashplayer\" \/>';
                    soonidea +='<\/object>';
                    document.write(soonidea);

                    </script>-->

                </div>
            </div>

            <div class="board mar"><a href="about-us.html"><img src="/xmx/images/More.gif"/></a><strong>About
                Us</strong>
            </div>
            <div class="hcontent">
                <div class="comInfo">
                    <div>
                        Based in the UK, A&M Manufacturing Co.Ltd has over 30 year experience in the foundry and general
                        metal working industry. With over 10 years experience in building close relations with Taiwan
                        and China we have a large manufacturing network base enabling us to be extremely competitive and
                        at the same time produce parts to the highest quality.<br>
                        We specialize in a wide range of processes including ALL types of casting, fabrications,
                        forgings, stampings and machined from solid parts. We can supply parts in small, medium and
                        large volume, from class 1 aerospace castings to small machined turned parts. At design stage we
                        can advise on both shape and material specification.
                    </div>
                    ...[<a href="about-us.html" style="color:#FF9900">more</a>]

                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="board mar"><a href="products.html"><img src="/xmx/images/More.gif"/></a><a class="ic1"><img
                    id="view_list" src="/xmx/images/viewlist.gif" width="15" height="15" title="View List"
                    align="absmiddle"/></a><a class="ic1"><img id="view_gallery" src="/xmx/images/viewgallery2.gif"
                                                               width="15" height="15" title="View Gallery"
                                                               align="absmiddle"/></a><strong>{{categoryName}}</strong></div>
            <div class="hcontent2">
                <div class="featbox" style="width:712px;margin:0 auto" align="center">

                    <div class="probox" v-for="(item,index) in productList">
                        <center>
                            <div class="proimg">
                                <p><a href="turbine-blade-115.htm" title="turbine blade" rel="nofollow"><img
                                        :src="item.contProductImgDOList[0].imgUrl" alt="turbine blade" vspace="0" border="0"/></a>
                                </p>
                            </div>
                            <div class="protext"><a href="javascript:void(0);" v-on:click="viewProduct(item.contProductId)" title="turbine blade" rel="nofollow">
                                <h2>{{item.contProductInfoDO.productName}}</h2></a> <span></span></div>
                            <div class="prodes" style="display:none;">{{item.contProductInfoDO.details}}
                                <p><input type="checkbox" name="Item" value=""/> <img
                                        src="/xmx/images/inquire_now_en.gif"
                                        style="cursor:pointer;"
                                        onclick="javascript:document.location.href='inquiry.asp?Item='"/>
                                </p>
                            </div>
                            <div class="clear"></div>
                        </center>
                    </div>


                    <div class="clear"></div>
                </div>
            </div>


            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="mainbg"></div>
    <div id="root">
        <div class="rootseo">Keywords:</div>
        <div class="rootmenu">

            <a href="index.html" title="Home">Home</a> |

            <a href="About-Us.html" title="About Us">About Us</a> |

            <a href="Products.html" title="Products">Products</a> |

            <a href="News.html" title="News">News</a> |

            <a href="send-inquiry.html" title="Inquiry">Inquiry</a> |

            <a href="Capability.html" title="Capability">Capability</a> |

            <a href="contact-us.html" title="Contact Us">Contact Us</a> |

        </div>
        <script language="javascript" type="text/javascript" src="/js/lang.js"></script>
        <div class="trans"><a href="javascript:translator('en|en')"><img src="/xmx/images/english.gif" width="15"
                                                                         height="11"
                                                                         align="absmiddle"/> English</a>
            <a href="javascript:translator('en|de')"><img src="/xmx/images/deutsch1.gif" width="15" height="11"
                                                          align="absmiddle"/> German</a>
            <a href="javascript:translator('en|es')"><img src="/xmx/images/espanol.gif" width="15" height="11"
                                                          align="absmiddle"/> Spanish</a>
            <a href="javascript:translator('en|fr')"><img src="/xmx/images/francies.gif" width="15" height="11"
                                                          align="absmiddle"/> French</a>
            <a href="javascript:translator('en|it')"><img src="/xmx/images/italino.gif" width="15" height="11"
                                                          align="absmiddle"/> Italian</a>

            <a href="javascript:translator('en|pt')"><img src="/xmx/images/portgues.gif" width="15" height="11"
                                                          align="absmiddle"/> Portuguese</a>
            <a href="javascript:translator('en|ja')"><img src="/xmx/images/japan.jpg" width="15" height="11"
                                                          align="absmiddle"/> Japanese</a>
            <a href="javascript:translator('en|ko')"><img src="/xmx/images/korea.jpg" width="15" height="11"
                                                          align="absmiddle"/> Korean</a>
            <a href="javascript:translator('en|ar')"><img src="/xmx/images/arabia.jpg" width="15" height="11"
                                                          align="absmiddle"/> Arabic</a>
            <a href="javascript:translator('en|ru')"><img src="/xmx/images/russia.jpg" width="15" height="11"
                                                          align="absmiddle"/> Russian</a>
            <a href="javascript:translator('en|cn')"><img src="/xmx/images/chinese.gif" width="15" height="11"
                                                          align="absmiddle"/> Chinese</a></div>


        <div class="copyright"> Copyright <span id="CopyRight">
    &copy; </span> 2018&nbsp;<a href="index.html">A&M Manufacturing Co.Ltd</a> All Rights Reserved <a
                href="sitemap.html">SiteMap</a> <a href="/rss.xml"><img src="/xmx/images/rss.jpg" width="49" height="14"
                                                                        border="0"/></a>&nbsp;<a
                href="/sitemap.xml"><img src="/xmx/images/map.gif" width="36" height="14" border="0"/></a>

            <!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254565334'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254565334%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>-->

        </div>
        <div class="clear"></div>
    </div>
    <script language="javascript" type="text/javascript" src="/js/rootLink.js"></script>

    <script type="text/javascript" src="/js/vue.min.js"></script>

    <script type="text/javascript" src="/js/appjs/xmx/index.js"></script>
    <div class="flinks">Friendly Links:
        &nbsp;


    </div>
</div>
<!--<div><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254565334'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254565334%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></div>-->

<noscript>
    <iframe scr="*.htm"></iframe>
</noscript>
<script language="JavaScript">
    document.oncontextmenu = new Function("event.returnValue=true;");
    document.onselectstart = new Function("event.returnValue=true;");
</script>

</body>
</html>
