<div th:fragment="header">
    <div id="topline">
        investment casting|lost wax casting|aluminum investment casting|vacuum investment casting|stainless steel
        investment casting|steel investment casting|.
	</div>
	<div id="top">
        <div id="logo"><a href="index.html" title="A&M Manufacturing Co.Ltd"><img src="/xmx/images/logo.png"
                                                                                  alt="A&M Manufacturing Co.Ltd"
                                                                                  border="0"/></a></div>
        <div id="search">
            <form id="form1" name="form1" method="get" action="">
                <ul>
                    <li><strong>Search Product:</strong></li>
                    <li>
                        <input name="modval_" id="modval_" type="text" value="Enter Search Keyword"
                               onfocus="javascript:if(this.value=='Enter Search Keyword')this.value=''"
                               onblur="javascript:if(this.value=='')this.value='Enter Search Keyword'"
                               onkeydown="if(event.keyCode==13){search_();return false;}" class="search_input"/>
                    </li>
                    <li>
                        <select name="type_" id="type_" class="search_select">
                            <option selected="selected" value="">All Categories</option>
                            <option value="40">Stainless steel investment casting</option>
                            <option value="41">Alloy steel and carbon steel investment casting</option>
                            <option value="43">Aluminum investment casting</option>
                            <option value="44">Superalloy investment casting</option>
                            <option value="46">Copper investment casting</option>
                            <option value="48">Ductile iron investment casting</option>
                            <option value="49">CNC machining parts</option>
                            <option value="50">Iron sand casting</option>
                            <option value="51">Steel sand casting</option>
                            <option value="52">Metal Artware</option>
                            <option value="53">Aluminum die casting</option>
                        </select>
                    </li>
                    <li>
                        <input type="button" class="search_btn" onclick="javascript:searchwithtype_();"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>
	<!-- ================菜单栏开始================ -->
    <div class="menu">
        <ul>
            <li><a title="Home" href="index.html" rel="nofollow"><strong>Home</strong></a></li>
            <li><a title="About Us" href="About-Us.html"><strong>About Us</strong></a></li>
            <li style="z-index: 555;"><a class="hide" href="Products.html"><b>Products</b></a>
                <ul>
                    <li v-for="(item,index) in categoryTree.children">
                        <a class="hide" href="#" :title="item.text">{{item.text}}</a>
                        <ul>
                            <li v-for="(item2,index2) in item.children"><a href="#" :title="item2.text">{{item2.text}}</a></li>
                        </ul>
                    </li> 
                </ul>
            </li>
            <li><a title="News" href="News.html"><b>News</b></a></li>
            <li><a title="Capability" href="Capability.html"><b>Capability</b></a></li>
            <li><a title="Contact Us" href="contact-us.html"><b>Contact Us</b></a></li>
            <li><a href="mailto:market@investment-casting.biz"><b>E-mail:</b> market@investment-casting.biz</a></li>
        </ul>
    </div>
    <div class="maint"></div>
</div><!-- 顶部部分结束 -->
<div th:fragment="left"><!-- 左侧部分开始 -->
	<div id="left">
	    <div class="lefttop"></div>
            <div class="ltit" v-on:click="init"><strong>Products Catagories</strong></div>
            <div id="nav">
                <div class="navmid">
                    <dl>
                        <dt v-for="(item,index) in categoryTree.children">
                            <ul>
                                <!--一级分类-->
                                <li><a href="javascript:void(0);" v-on:click="listProduct(item.id,item.text)" :title="item.text">
                                    <h2>{{item.text}}</h2>
                                </a>&nbsp;(9)
                                </li>
                                <!--二级分类-->
                                <li v-for="(item2,index2) in item.children">
                                    <a href="javascript:void(0);" v-on:click="listProduct(item2.id,item2.text)" :title="item2.text"><p>{{item2.text}}</p></a>&nbsp;(4)
                                </li>
                            </ul>
                        </dt>
                    </dl>
                </div>
            </div>
            <!-- =============新闻与事件================ -->
            <div class="ltit"><strong>News &amp; Events</strong></div>
            <div class="contactBox">
                <div id="i_news">
                    <div class="inner">
                        <ul>
                            <li v-for="(event,index) in events">
                                <h2><a :href="'/contXmx/openViewNewsDetail/'+event.cid">{{event.title}}</a></h2>
                                <span class="time" style="padding-left:15px;">{{event.gtmModified}}</span>
                                <!--<p style="padding-left:15px;">Our SIMIS just get the TUV Certificate and Alibaba Assessed Supplier ....</p>-->
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!-- ================新闻与事件结束,联系信息开始=================== -->
            <div class="ltit"><strong>Contact Information</strong></div>
            <div class="contactBox">
		    <span style="padding:0 0 10px 10px;"><strong>A&M Manufacturing Co.Ltd</strong><br/><strong>Add:</strong>&nbsp;Taiyuan City, Shanxi Province, China<br/>
		    <strong>Tel.:</strong>&nbsp;0086-351-4063799<br/><strong>Email:</strong>&nbsp;<a
		                href="mailto:market@investment-casting.biz">market@investment-casting.biz</a><br/><strong>Web:</strong>&nbsp;<a
		                href="http://www.investment-casting.biz"
		                title="Add to your favorates">http://www.investment-casting.biz</a><br/>
		    </span>
                <center><a href="contact-us.html"><img src="/xmx/images/contact_now.gif"/></a></center><br/>
	        <div class="clear"></div>
	    </div>
	</div>
</div><!-- 左侧部分结束 -->
<div th:fragment="root"><!-- 底部开始 -->
    <div id="root">
        <div class="rootseo">Keywords:</div>
        <div class="rootmenu">
            <a href="index.html" title="Home">Home</a> |
            <a href="About-Us.html" title="About Us">About Us</a> |
            <a href="Products.html" title="Products">Products</a> |
            <a href="News.html" title="News">News</a> |
            <a href="send-inquiry.html" title="Inquiry">Inquiry</a> |
            <a href="Capability.html" title="Capability">Capability</a> |
            <a href="contact-us.html" title="Contact Us">Contact Us</a> |
        </div>
        <script language="javascript" type="text/javascript" src="/js/lang.js"></script>
        <div class="trans"><a href="javascript:translator('en|en')"><img src="/xmx/images/english.gif" width="15"
                                                                         height="11"
                                                                         align="absmiddle"/> English</a>
            <a href="javascript:translator('en|de')"><img src="/xmx/images/deutsch1.gif" width="15" height="11" align="absmiddle"/> German</a>
            <a href="javascript:translator('en|es')"><img src="/xmx/images/espanol.gif" width="15" height="11"
                                                          align="absmiddle"/> Spanish</a>
            <a href="javascript:translator('en|fr')"><img src="/xmx/images/francies.gif" width="15" height="11"
                                                          align="absmiddle"/> French</a>
            <a href="javascript:translator('en|it')"><img src="/xmx/images/italino.gif" width="15" height="11"
                                                          align="absmiddle"/> Italian</a>
            <a href="javascript:translator('en|pt')"><img src="/xmx/images/portgues.gif" width="15" height="11"
                                                          align="absmiddle"/> Portuguese</a>
            <a href="javascript:translator('en|ja')"><img src="/xmx/images/japan.jpg" width="15" height="11"
                                                          align="absmiddle"/> Japanese</a>
            <a href="javascript:translator('en|ko')"><img src="/xmx/images/korea.jpg" width="15" height="11"
                                                          align="absmiddle"/> Korean</a>
            <a href="javascript:translator('en|ar')"><img src="/xmx/images/arabia.jpg" width="15" height="11"
                                                          align="absmiddle"/> Arabic</a>
            <a href="javascript:translator('en|ru')"><img src="/xmx/images/russia.jpg" width="15" height="11"
                                                          align="absmiddle"/> Russian</a>
            <a href="javascript:translator('en|cn')"><img src="/xmx/images/chinese.gif" width="15" height="11"
                                                          align="absmiddle"/> Chinese</a></div>
        <div class="copyright"> Copyright <span id="CopyRight">
    &copy; </span> 2018&nbsp;<a href="index.html">A&M Manufacturing Co.Ltd</a> All Rights Reserved <a
                href="sitemap.html">SiteMap</a> <a href="/rss.xml"><img src="/xmx/images/rss.jpg" width="49" height="14"
                                                                        border="0"/></a>&nbsp;<a
                href="/sitemap.xml"><img src="/xmx/images/map.gif" width="36" height="14" border="0"/></a>
            <!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254565334'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254565334%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>-->
        </div>
        <div class="clear"></div>
    </div>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/rootLink.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>
</div><!-- 底部结束 -->
