<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#">备份</a>
					</li>
					<li>
						<a href="/common/database/restore">还原</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div  id="exampleToolbar" role="group" >
						<button type="button" class="btn  btn-primary"
							onclick="batchCode()">
							<i class="" aria-hidden="true"></i>批量导出
						</button>
						<button type="button" class="btn  btn-success"
							onclick="edit()">
							<i class="" aria-hidden="true"></i>还原选项
						</button>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/common/generator/backupRestore.js"></script>
</body>
</html>