<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content " id="app">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" >
                    <div class="form-group" v-for="(item, index) in rows">
                        <label class="col-sm-3 control-label">{{item.title}}</label>
                        <div class="col-sm-8">
                            <input v-model="item.value" class="form-control" type="text" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">

    var index=

    var vm = new Vue({
        el: '#app',
        data: {
            rows: [[${rows}]],
            langDictList: [[${langDictList}]]
        },
        methods: {
            langBarClick: function (langType) {
                for (var i = 0; i < this.rows.length; i++) {
                    if (langType == this.rows[i].langType) {
                        this.activeIndex = i;

                        break;
                    }
                }
            },
            saveInfo: function (index) {
                $.ajax({
                    type: "POST",
                    url: "/cont/contProduct/saveInfo",
                    data: {contProductInfo: JSON.stringify(this.rows)},
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg("保存成功！");
                        }
                    }
                });
            },
            changeDetails: function () {
                console.log('changeDetails');
                var content_sn = $("#content_sn").summernote('code');
                this.rows[this.activeIndex].details = content_sn;
                $('#myModal').modal('hide');
            }
        }
    });
    function changeDetails() {
        var content_sn = $("#content_sn").summernote('code');
        vm.rows[vm.activeIndex].details = content_sn;
        $('#myModal').modal('hide');
    }
</script>
</body>
</html>