<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="contCategoryId" name="contCategoryId" th:value="${contCategory.contCategoryId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">类别类型：（CmsCategoryType）：</label>
								<div class="col-sm-8">
									<input id="categoryType" name="categoryType" th:value="${contCategory.categoryType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">上级类别：</label>
								<div class="col-sm-8">
									<input id="parentCategoryId" name="parentCategoryId" th:value="${contCategory.parentCategoryId}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">类别名称：</label>
								<div class="col-sm-8">
									<input id="categoryName" name="categoryName" th:value="${contCategory.categoryName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/cont/contCategory/edit.js">
	</script>
</body>
</html>
