<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="cont_product_param_id" name="cont_product_param_id" th:value="${contProductParam.cont_product_param_id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">产品主键：</label>
								<div class="col-sm-8">
									<input id="contProductId" name="contProductId" th:value="${contProductParam.contProductId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">语种：字段表（CmsLangType）：</label>
								<div class="col-sm-8">
									<input id="langType" name="langType" th:value="${contProductParam.langType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">参数名称：</label>
								<div class="col-sm-8">
									<input id="paramName" name="paramName" th:value="${contProductParam.paramName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">限制数量：</label>
								<div class="col-sm-8">
									<input id="limitNum" name="limitNum" th:value="${contProductParam.limitNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建用户id：</label>
								<div class="col-sm-8">
									<input id="createBy" name="createBy" th:value="${contProductParam.createBy}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="gmtCreate" name="gmtCreate" th:value="${contProductParam.gmtCreate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="gmtModified" name="gmtModified" th:value="${contProductParam.gmtModified}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/cont/contProductParam/edit.js">
	</script>
</body>
</html>
