<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content " id="app">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" v-for="(item, index) in rows" v-show="index==activeIndex">
                    <ul class="nav nav-tabs nav-justified">
                        <li v-bind:class="[ item.langType==langItem.value?activeClass : '' ]"
                            v-for="(langItem, langIndex) in langDictList">
                            <a v-on:click="langBarClick(langItem.value)">{{langItem.name}}</a>
                        </li>
                    </ul>


                    <div style="padding-bottom: 10px"></div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>参数名称</th>
                            <th>排序</th>
                            <th>参数值</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control" v-model="newParam.paramName"></td>
                            <td><input type="text" class="form-control" v-model="newParam.sort"></td>
                            <td class="row">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" v-model="newValue"/>
                                        <span class="input-group-addon" v-on:click="addNewPk"><i class="fa fa-check"></i></span>
                                    </div>
                                    <div class="btn-group btn-group-xs" v-for="(pkItem, pkIndex) in newParam.contProductPkDOList">
                                        <button type="button" class="btn btn-primary">{{pkItem.paramValue}}</button>
                                        <button type="button" class="btn btn-primary " v-on:click="removeNewPk(pkIndex)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-ok" v-on:click="addNewParam(index)"></span>
                            </td>
                        </tr>
                        <tr v-for="(paramItem, paramIndex) in item.contProductParamDOList">
                            <!--hidden  start-->
                            <input v-model="paramItem.contProductParamId" class="form-control" type="hidden">
                            <input id="langType" name="langType" v-model="paramItem.langType" class="form-control" type="hidden">
                            <!--hidden  end-->

                            <td>{{paramItem.paramName}}</td>
                            <td><input type="text" class="form-control" v-model="paramItem.sort"></td>
                            <td>
                                <div class="btn-group btn-group-xs" v-for="(keyItem, keyIndex) in paramItem.contProductPkDOList">
                                    <button type="button" class="btn btn-primary">{{keyItem.paramValue}}</button>
                                    <button type="button" class="btn btn-primary ">
                                        <span class="glyphicon glyphicon-remove" v-on:click="removePk(index,paramIndex,keyIndex)"></span>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-remove" v-on:click="removeParam(index,paramIndex)"></span>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <div style="padding-bottom: 10px"></div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <button class="btn btn-primary" v-on:click="save">提交</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">

    var _rows = [[${rows}]];
    var _langDictList = [[${langDictList}]];
    var _contProductId = [[${contProductId}]];
    var vm = new Vue({
        el: '#app',
        data: {
            activeClass: 'active',
            activeIndex: 0,
            rows: _rows,
            contProductId:_contProductId,
            langDictList: _langDictList,
            newParam:{contProductPkDOList:[]},
            newValue:''
        },
        methods: {
            langBarClick: function (langType) {
                for (var i = 0; i < this.rows.length; i++) {
                    if (langType == this.rows[i].langType) {
                        this.activeIndex = i;
                        break;
                    }
                }
            } ,
            save: function () {
                var contProductParamList=[];
                for(i=0;i<this.rows.length;i++){
                    contProductParamList=contProductParamList.concat(this.rows[i].contProductParamDOList);
                }
                $.ajax({
                    type: "POST",
                    url: "/cont/contProduct/saveParams",
                    data: {contProductParam: JSON.stringify(contProductParamList),contProductId:this.contProductId},
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 0) {

                            parent.layer.msg("保存成功!");
                            var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                            parent.layer.close(index);

                        }
                    }
                });
            },
            removeNewPk:function (pkIndex) {
                this.newParam.contProductPkDOList.splice(pkIndex,1);
            },
            addNewPk:function () {
                if(this.newValue){
                    var pkDO={};
                    pkDO.paramValue=this.newValue;
                    this.newParam.contProductPkDOList.push(pkDO);
                    this.newValue='';
                }
            },
            addNewParam:function (index) {
                this.newParam.langType=this.rows[index].langType;
                this.newParam.contProductId=this.contProductId;
                this.rows[index].contProductParamDOList.push(this.newParam);
                var newParamTemp={contProductPkDOList:[]};
                this.newParam=newParamTemp;
                this.newValue='';
            },
            removeParam:function (index,paramIndex) {
                this.rows[index].contProductParamDOList.splice(paramIndex,1);
                var newParamTemp={contProductPkDOList:[]};
                this.newParam=newParamTemp;
                this.newValue='';
            },
            removePk:function (index,paramIndex,pkIndex) {
                this.rows[index].contProductParamDOList[paramIndex].contProductPkDOList.splice(pkIndex,1);
            }
        }
    });

</script>
</body>
</html>
