<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
	<title th:text="${seoTitle}"></title>
    <meta name="keywords" th:content="${keywords}" />
    <meta name="description" th:content="${description}" />

    <link href="/tpc/css/style.css" rel="stylesheet"/>
    <link href="/tpc/css/anim.css" rel="stylesheet"/>
    <link href="/tpc/css/slide.css" rel="stylesheet"/>
    <link href="/tpc/css/index.css" rel="stylesheet"/>
    <link href="/tpc/css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/tpc/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/tpc/images/logosmall.png" type="image/x-icon"/>

</head>

<body>
<div th:include="include/public-tpc :: header"></div><!-- 共用header部分 -->
<!--轮显begin-->
<div id="a1portalSkin_ctr211899211899_mainArea" class="module-content"><!-- Start_Module_211899 --><!-- S slideshow -->
 
    <!-- E slideshow --><!-- End_Module_211899 --></div>
<!--轮显end-->
<!------------------------------banner start-------------------------->
<div class="banner">
    <img src="/tpc/picture/banner05.png" alt="" style="width:100%;">
</div>
<!------------------------------banner end--------------------------->
<!-----------------------------关于我们begin------------------------->
<div class="about" id="main">
   <div class="container" v-for="(item,index) in aboutUsContList">
       <div class="left col-md-5">
           <img :src="item.imgUrl" alt="">
       </div>
       <div class="right col-md-7">
           <h3 v-text="item.title"></h3>
           <div v-html="item.content">
           </div>
       </div>
   </div> 
</div>
<!--关于我们end-->

<!--尾部begin-->
<div th:include="include/public-tpc :: footer"></div><!-- 共用root部分 -->

<script type="text/javascript" src="/js/appjs/tpc/a-aboutUs.js"></script>
<!--尾部end-->

</body>
</html>