<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
	<title>Tire protection chain</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" /> 
    <meta name="author" content="作者" />
    <meta name="copyright" content="版权" />

    <link href="/tpc/css/style.css" rel="stylesheet"/>
    <link href="/tpc/css/anim.css" rel="stylesheet"/>
    <link href="/tpc/css/slide.css" rel="stylesheet"/>
    <link href="/tpc/css/index.css" rel="stylesheet"/>
    <link href="/tpc/css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/tpc/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/tpc/images/logosmall.png" type="image/x-icon"/>

</head>

<body>
<div th:include="include/public-tpc :: header"></div><!-- 共用header部分 -->
<!--轮显begin-->
<div id="a1portalSkin_ctr211899211899_mainArea" class="module-content"><!-- Start_Module_211899 --><!-- S slideshow -->
 
    <!-- E slideshow --><!-- End_Module_211899 --></div>
<!--轮显end-->
<!------------------------------banner start-------------------------->
<div class="banner">
    <img src="picture/banner05.png" alt="" style="width:100%;">
</div>
<!------------------------------banner end--------------------------->
<!-----------------------------关于我们begin------------------------->
<div class="about">
   <div class="container">
       <div class="left col-md-5">
           <img src="picture/about.png" alt="">
       </div>
       <div class="right col-md-7">
           <h3> About US</h3>
           <p> &nbsp;&nbsp;&nbsp;&nbsp; Taiyuan simis tire protection chain branch company is a professional manufacturer of forged tire protection chain in china. Tire protection chain is an important protective device of wheel construction machinery, such as wheel loader, mining machine and heavy duty truck, and It is widely used in many kinds of abominable construction environment such as quarry, metal mine, tunnel, steel plant and so on.  Tire protection chain improves the service life of tire and reduces the maintenance time of the wheel construction equipment.<br><br>
       &nbsp;&nbsp;&nbsp;&nbsp;We produced tire protection chains in forging process, and it is more durable than casted tire protection chains in market. We are one of few factories that can provide forging tire protection chain in China. We have been exporting our forging tire protection chain to a lot of foreign countries and have got good recognitions from our buyers. We can make many different sizes of tire protection chain, and at the same time, we can also make custom tire protection chain according to buyer’s request. <br><br>
         &nbsp;&nbsp;&nbsp;&nbsp; We can make tire protection chain with the different friction system-links according to the TPC's working environment and buyers' requirements. Our tire protection chain has been approved by the serious quality inspections and it cannot be deformed under 50 static tension intensity, the Rockwell hardness of the ground working surface is 52-58 degrees. And our tire protection chain is widely used in quarrying, mining engineering, tunneling, road construction work etc.<br><br>
          &nbsp;&nbsp;&nbsp;&nbsp; High-quality products, on-time delivery and good service, we have collected a wide & good reputation and feedback. We will do utmost and best to be a qualified supplier of tire protection chain in china. 
           </p>
       </div>
   </div> 
</div>
<!--关于我们end-->

<!--尾部begin-->
<div th:include="include/public-tpc :: footer"></div><!-- 共用root部分 -->
<!--尾部end-->

</body>
</html>