<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
	<title>Tire protection chain</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" /> 
    <meta name="author" content="作者" />
    <meta name="copyright" content="版权" />

    <link href="/tpc/css/style.css" rel="stylesheet"/>
    <link href="/tpc/css/anim.css" rel="stylesheet"/>
    <link href="/tpc/css/slide.css" rel="stylesheet"/>
    <link href="/tpc/css/index.css" rel="stylesheet"/>
    <link href="/tpc/css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/tpc/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/tpc/images/logosmall.png" type="image/x-icon"/>
</head>

<body>

<div th:include="include/public-tpc :: header"></div><!-- 共用header部分 -->

<!--轮显begin-->
<div id="a1portalSkin_ctr211899211899_mainArea" class="module-content"><!-- Start_Module_211899 --><!-- S slideshow -->
    <!-- E slideshow --><!-- End_Module_211899 --></div>
<!--轮显end-->
<!------------------------------banner start-------------------------->
<div class="banner">
    <img src="picture/banner07.jpg" alt="" style="width:100%;">
</div>
<!------------------------------banner end--------------------------->
<!-----------------------------新闻begin------------------------->
<div class="contact_bg">
    <div class="about_t3  anim anim-1">contact us</div>
    <div class="contact_con anim anim-2">
        <ul>
            <li><a href="tel:0755-82968506"><img src="picture/contact１.jpg" alt="">

                <h2>Tel</h2>0086-351-4063778</a></li>
            <li><a href="mailto:VIP@yibaixun.com"><img src="picture/contact２.jpg" alt="">

                <h2>Email:</h2>sales@tire-protection-chain.com</a></li>
            <li><img src="picture/contact３.jpg" alt="">

                <p>Taiyuan City,Shanxi Province, China</p></li>
        </ul>
    </div>
    
    
</div>
<div class="about_t3  anim anim-5">Suggest message</div>
<div class="feedback_div anim anim-6">

    <form actionurl="#" method="post"  onload="init()" id="qiandaoform" onSubmit="return checkform2(this);">
    <div>
        <input class="inputs2" name="name" value="Company：" onFocus="if(value=='Company：'){value=''}" onBlur="if(value==''){value='Company：'}"/>
        <input class="inputs2" name="tel" value="contact number：" onFocus="if(value=='contact number：'){value=''}" onBlur="if(value==''){value='contact number：'}"/>
        <input class="inputs2" name="email" value="E-mail：" onFocus="if(value=='E-mail：'){value=''}" onBlur="if(value==''){value='E-mail：'}"/>
    </div>
    <textarea name="content" cols="" rows="5" class="textarea" onFocus="if(this.value=='leave a message')this.value=''" onBlur="if(this.value=='')this.value='leave a message'">leave a message</textarea>
    <input type="submit" value="submit" class="bnts2">
    </form>
    <script language="javascript">
        function checkform2(nForm)
        {
            if(nForm.name.value=="contact number")
            {   alert("contact number");
                nForm.name.focus();
                return false;
            }
            if(nForm.tel.value=="contact number")
            {
                alert("请填写您的手机号码!");
                nForm.tel.focus();
                return false;
            }
            var teln = nForm.tel.value;
            if(!(/^1[34578]\d{9}$/.test(teln))){
                alert("手机号码有误，请重填");
                nForm.tel.focus();
                return false;
            }
            if(nForm.email.value=="E-mail：")
            {   alert("请填写您的邮箱!");
                nForm.email.focus();
                return false;
            }
            $.ajax({
                type:"post",
                url:$('#qiandaoform').attr('actionurl'),
                async:true,
                data:$("#qiandaoform").serialize(),
                success:function(data){
                    if (data.status == 1) {
                        alert(data.info);
                        window.location.href=data.url;

                    }else{
                        alert(data.info);
                    }
                }
            });
            return false;
        }
        function en_checkform2(nForm)
        {
            if(nForm.name.value=="Your name: ")
            {   alert("Fill in your name, please!");
                nForm.name.focus();
                return false;
            }
            if(nForm.tel.value=="Contact number：")
            {
                alert("Please fill in your Contact number!");
                nForm.tel.focus();
                return false;
            }
            var teln = nForm.tel.value;
            if(!(/^1[34578]\d{9}$/.test(teln))){
                alert("The cell phone number is incorrect. Please fill it in again");
                return false;
            }
            if(nForm.email.value=="Contact mailbox:")
            {   alert("Please fill in your Mailbox!");
                nForm.email.focus();
                return false;
            }
            $.ajax({
                type:"post",
                url:$('#qiandaoform').attr('actionurl'),
                async:true,
                data:$("#qiandaoform").serialize(),
                success:function(data){
                    if (data.status == 1) {
                        alert(data.info);
                        window.location.href=data.url;

                    }else{
                        alert(data.info);
                    }
                }
            });
            return false;
        }
    </script>
</div>
<!--新闻end-->

<!--尾部begin-->
<div th:include="include/public-tpc :: footer"></div>
<!--尾部end-->

</body>
</html>