<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title th:text="${seoTitle}"></title>
    <meta name="keywords" th:content="${keywords}" />
    <meta name="description" th:content="${description}" />

    <link href="/tpc/css/style.css" rel="stylesheet"/>
    <link href="/tpc/css/anim.css" rel="stylesheet"/>
    <link href="/tpc/css/slide.css" rel="stylesheet"/>
    <link href="/tpc/css/index.css" rel="stylesheet"/>
    <link href="/tpc/css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/tpc/css/bootstrap.min.css">
    <link rel="shortcut icon" href="images/logosmall.png" type="image/x-icon" /> 

</head>

<body>

<div th:include="include/public-tpc :: header"></div><!-- 共用header部分 -->

<!--轮显begin-->
<div id="a1portalSkin_ctr211899211899_mainArea" class="module-content"><!-- Start_Module_211899 --><!-- S slideshow -->
 
    <!-- E slideshow --><!-- End_Module_211899 --></div>
<!--轮显end-->
<!------------------------------banner start-------------------------->
<div class="banner">
    <img src="/tpc/picture/banner06.jpg" alt="" style="width:100%;">
</div>

<!------------------------------banner end--------------------------->
<!-----------------------------新闻begin------------------------->
<div class="news" id="main">
    <div class="container">
        <div class="about_t3  anim anim-1">News Center</div>
        <div class="row" v-for="(item,index) in news">
           <div class="left col-md-4 col-sm-4">
              <img :src="item.imgUrl" alt="">
           </div>
           <div class="right col-md-8 col-sm-8">
             <a :href="'/contTpc/openViewNewsDetail/'+item.cid"><h3 v-text="item.title"></h3></a>
             <p v-text="item.gtmCreate"></p>
             <p v-text="item.resume"></p>
             <a :href="'/contTpc/openViewNewsDetail/'+item.cid"><span class="Details col-md-8  col-sm-8 col-xs-8">see details</span></a>
           </div>
        </div>
        <div class="styled-pagination text-center" style="margin-top:20px;">
            <ul class="clearfix">
                <li class="prev">
                    <a href="javascript:void(0);" @click="selectPage('currentPage',-1)">Prev</a>
                </li>
                <li v-for="(item,index) in pageTool.pageList" :class="item==pageTool.currentPage? 'active':'' ">
                    <a href="javascript:void(0);" @click="selectPage(item,0)" v-text="item"></a>
                </li>
                <li class="next">
                    <a href="javascript:void(0);" @click="selectPage('currentPage',1)">Next </a></li>
                <ul class="page">
                    <li>
                      <span class="page-sum">Total Page
                        <strong v-text="pageTool.totalPages"></strong>
                      </span>
                        <span class="page-go">&nbsp;&nbsp;Jump<input v-model="pageTool.goPage" type="text">page</span>
                    </li>
                    <li>
                        <a href="javascript:void(0);" @click="selectPage(pageTool.goPage,0)"> <span class="page-btn">GO</span></a>
                    </li>
                </ul>
            </ul>


        </div>
    </div>
</div>
    
<!--新闻end-->

<!--尾部begin-->

<div th:include="include/public-tpc :: footer"></div>

<script type="text/javascript" src="/js/appjs/tpc/a-news.js"></script>


</body>
</html>