<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
	<title>Tire protection chain</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" /> 
    <meta name="author" content="作者" />
    <meta name="copyright" content="版权" />

    <link href="/tpc/css/style.css" rel="stylesheet"/>
    <link href="/tpc/css/anim.css" rel="stylesheet"/>
    <link href="/tpc/css/slide.css" rel="stylesheet"/>
    <link href="/tpc/css/index.css" rel="stylesheet"/>
    <link href="/tpc/css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/tpc/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/tpc/images/logosmall.png" type="image/x-icon"/>

</head>

<body>

<div th:include="include/public-tpc :: header"></div>

<!--轮显begin-->
<div id="a1portalSkin_ctr211899211899_mainArea" class="module-content"><!-- Start_Module_211899 --><!-- S slideshow -->
 
    <!-- E slideshow --><!-- End_Module_211899 --></div>
<!--轮显end-->
<!------------------------------banner start-------------------------->
<div class="banner">
    <img src="picture/banner04.png" alt="" style="width:100%;">
</div>
<!------------------------------banner end--------------------------->
<!-----------------------------生产过程begin------------------------->
<div class="Process">
  <div class="container">
      <div class="about_t3  anim anim-1">Production Process</div>
      <div class="row">
          <div class="tetle">
              <h4>1. Raw Material In Stock</h4>
              <p>We have enough raw material in stock every year. 
                The material of connecting ring is 20CrMnTI, and diameter of connecting rings contain 12mm, 13mm, 14mm, 16mm, 18mm, 20mm and 22mm. 
             The material of link is 40Cr, and diameter of steel bars for links contain 16mm, 18mm, 20mm. 22mm, 26mm, 28mm, 32mm and 46mm. 
              </p>
          </div>
          <div class="photo col-md-12 col-sm-12 col-xs-12">
            <img src="picture/photo1.png" alt="" class="col-md-4 col-sm-6 col-xs-12">
            <img src="picture/photo2.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
            <img src="picture/photo3.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
          </div>
      </div>
      <div class="row">
          <div class="tetle">
              <h4>2. Forging links </h4>
              <p>We have many kinds of links, and we choose different links according to tire size and customer requirements. We have two forging lines, and we forge the links and spare parts for tire protection chain. 
              </p>
          </div>
          <div class="photo col-md-12 col-sm-12">
            <video src="video/Forging links1.mp4" muted autoplay loop  class="col-md-4 col-sm-6  col-xs-12"></video>
            <video src="video/Forging links2.mp4" muted autoplay loop  class="col-md-4 col-sm-6  col-xs-12"></video>  
            <video src="video/Forging links3.mp4" muted autoplay loop  class="col-md-4 col-sm-6  col-xs-12"></video>
          </div>
      </div>
       <div class="row">
          <div class="tetle">
              <h4>3. Cutting rings  </h4>
              <p> We just bought one machine that it can cutting rings from steel bars. 
              </p>
          </div>
          <div class="photo col-md-12 col-sm-12">
            <video src="video/Cutting rings .mp4" muted autoplay loop  class="col-md-4 col-sm-6  col-xs-12"></video>
          </div>
      </div>
       <div class="row">
          <div class="tetle">
              <h4>4. Welding  </h4>
              <p> We have three welding lines and we can weld the connecting rings with links together.  
              </p>
          </div>
          <div class="photo col-md-12 col-sm-12">
            <img src="picture/photo4.png" alt="" class="col-md-4 col-sm-6 col-xs-12">
            <img src="picture/photo5.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
            <img src="picture/photo6.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
          </div>
      </div>
       <div class="row">
          <div class="tetle">
              <h4>5. Checking</h4>
              <p> After Welding is completed, we will organize the chains to ensure that all of welds are full.
              </p>
          </div>
          <div class="photo col-md-12 col-sm-12">
            <video src="video/Checking.mp4" muted autoplay loop  class="col-md-4 col-sm-6  col-xs-12"></video>
          </div>
      </div>
       <div class="row">
          <div class="tetle">
              <h4>6. Heat treatment </h4>
              <p> After welding, we will do heat treatment for the whole chains in order to increase the hardness of chains. 
              </p>
          </div>
          <div class="photo col-md-12 col-sm-12">
            <img src="picture/photo7.png" alt="" class="col-md-4 col-sm-6 col-xs-12">
            <img src="picture/photo8.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
            <img src="picture/photo9.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
          </div>
      </div>
      <div class="row">
          <div class="tetle">
              <h4>7.  Shot blasting </h4>
              <p> We will do shot blasting for the chains after heat treatment in order to remove burrs and oxidation skin.  
              </p>
          </div>
          <div class="photo col-md-12 col-sm-12">
            <img src="picture/photo10.png" alt="" class="col-md-4 col-sm-6 col-xs-12">
            <img src="picture/photo11.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
            <img src="picture/photo12.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
          </div>
      </div>
       <div class="row">
          <div class="tetle">
              <h4>8. Coating  </h4>
              <p>  All of chains will be coated with black paint and drying before shipment.  
              </p>
          </div>
          <div class="photo col-md-12 col-sm-12">
            <img src="picture/photo13.png" alt="" class="col-md-4 col-sm-6 col-xs-12">
            <img src="picture/photo14.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
            <img src="picture/photo15.png" alt="" class="col-md-4 col-sm-6  col-xs-12">
          </div>
      </div>
  </div> 
</div>
<!--生产过程end-->

<!--尾部begin-->
<div th:include="include/public-tpc :: footer"></div>
<!--尾部end-->

</body>
</html>