<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
	<title>Tire protection chain</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" /> 
    <meta name="author" content="作者" />
    <meta name="copyright" content="版权" />

    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/anim.css" rel="stylesheet"/>
    <link href="css/slide.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <link href="css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" href="images/logosmall.png" type="image/x-icon" /> 
	
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.superslide.2.1.1.js">//pc导航</script>
    <script src="js/jquery.caroufredsel.js">//轮显</script>
    <script src="js/jquery.touchswipe.min.js">//轮显</script>
    <script src="js/public.js">//导航</script>
    <script src="js/anim.js">//动画</script>
</head>

<body>
<div th:include="include/public :: header"></div><!-- 共用root部分 -->
<!--轮显begin-->
<div id="a1portalSkin_ctr211899211899_mainArea" class="module-content"><!-- Start_Module_211899 --><!-- S slideshow -->
 
    <!-- E slideshow --><!-- End_Module_211899 --></div>
<!--轮显end-->
<!------------------------------banner start-------------------------->
<div class="banner">
    <img src="picture/banner05.png" alt="" style="width:100%;">
</div>
<script type="text/javascript" src="js/idangerous.swiper-2.0.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<!------------------------------banner end--------------------------->
<!-----------------------------关于我们begin------------------------->
<div class="about">
   <div class="container">
       <div class="left col-md-5">
           <img src="picture/about.png" alt="">
       </div>
       <div class="right col-md-7">
           <h3> About US</h3>
           <p> &nbsp;&nbsp;&nbsp;&nbsp; Taiyuan simis tire protection chain branch company is a professional manufacturer of forged tire protection chain in china. Tire protection chain is an important protective device of wheel construction machinery, such as wheel loader, mining machine and heavy duty truck, and It is widely used in many kinds of abominable construction environment such as quarry, metal mine, tunnel, steel plant and so on.  Tire protection chain improves the service life of tire and reduces the maintenance time of the wheel construction equipment.<br><br>
       &nbsp;&nbsp;&nbsp;&nbsp;We produced tire protection chains in forging process, and it is more durable than casted tire protection chains in market. We are one of few factories that can provide forging tire protection chain in China. We have been exporting our forging tire protection chain to a lot of foreign countries and have got good recognitions from our buyers. We can make many different sizes of tire protection chain, and at the same time, we can also make custom tire protection chain according to buyer’s request. <br><br>
         &nbsp;&nbsp;&nbsp;&nbsp; We can make tire protection chain with the different friction system-links according to the TPC's working environment and buyers' requirements. Our tire protection chain has been approved by the serious quality inspections and it cannot be deformed under 50 static tension intensity, the Rockwell hardness of the ground working surface is 52-58 degrees. And our tire protection chain is widely used in quarrying, mining engineering, tunneling, road construction work etc.<br><br>
          &nbsp;&nbsp;&nbsp;&nbsp; High-quality products, on-time delivery and good service, we have collected a wide & good reputation and feedback. We will do utmost and best to be a qualified supplier of tire protection chain in china. 
           </p>
       </div>
   </div> 
</div>
<!--关于我们end-->

<!--尾部begin-->
<div class="footers">
  <div class="container">
    <div class="left col-lg-4">
     <h2 style="margin:0;margin-bottom:20px;padding:0;">Contact Us</h2>
        <ul>
            
            <li>
                <span class="glyphicon glyphicon-home" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Address:Taiyuan City,Shanxi Province, China</p>
            </li>
            <li>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Zip:030006</p>
            </li>
            <li>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Tel:0086-351-4063778</p>
            </li>
            <li>
                <span class="glyphicon glyphicon-print" aria-hidden="true" style="float:left;margin-right:6px;"></span><p>Fax:0086-351-4063778</p></li>
            <li>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Email:sales@tire-protection-chain.com   </p></li>
           <div class="clearfix"></div>
        </ul>
    </div>
    <div class="right col-lg-8">
      <div class="row">
        <h2 style="margin:0;padding:0 0 20px 0;">Send an enquiry</h2>
        <p>If you have questions or need help with the project, please fill out the enquiry，The form is as follow，Yutai Glass representative will contact you as soon as possible As much as possible.</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Feedback topic">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="E-mail">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Phone">
          </div>
        </div>
        <form role="form" style="margin-top:12px;">
          <div class="form-group">
          
           <textarea class="form-control" rows="5" placeholder="Information description"></textarea>   
          </div>
        </form>
        <button type="submit" class="btn btn-default">Send inquiry</button>
      </div>
    </div>
  </div>
</div>
<div th:include="include/public :: footer"></div><!-- 共用root部分 -->
<a href="javascript:void(0)" class="gotop" onClick="goTop()"></a>
<!--尾部end-->
<script language="javascript" src="js/foot.js"></script>
<!--弹窗end-->
</body>
</html>