<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title th:text="${seoTitle}"></title>
    <meta name="keywords" th:content="${keywords}" />
    <meta name="description" th:content="${description}" />


    <link href="/tpc/css/style.css" rel="stylesheet"/>
    <link href="/tpc/css/anim.css" rel="stylesheet"/>
    <link href="/tpc/css/slide.css" rel="stylesheet"/>
    <link href="/tpc/css/index.css" rel="stylesheet"/>
    <link href="/tpc/css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/tpc/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/tpc/images/logosmall.png" type="image/x-icon"/>

</head>

<body >

<div th:include="include/public-tpc :: header"></div><!-- 共用header部分 -->

<div id="main">

<!--轮显begin-->
    <!------------------------------banner start-------------------------->
    <div class="carousel slide" data-ride="carousel" id="myCarousel">
        <!----小圆点---->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>

        </ol>
        <div class="carousel-inner" >
            <div class="item active">
                <img src="/tpc/picture/banner1.jpg" alt="">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img src="/tpc/picture/banner2.jpg" alt="">
                <div class="carousel-caption">

                </div>
            </div>
        </div>
        <!----左右箭头---->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <!--轮显end-->
<!------------------------------banner start-------------------------->
<div class="flash_div">
    <div class="flash">
        <ul class="ul_flash">
            <li>
                <a href="javascript:void(0);" title="">
                    <img src="/tpc/picture/bannersmall1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" title="">
                    <img src="/tpc/picture/bannersmall2.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
<!------------------------------banner end--------------------------->
<!-----------------------------产品中心begin------------------------->
<div class="i_pro_bg2">
    <div class="i_pro_t  anim anim-1">Product Catalog</div>
    <div id="owl-demo2" class="owl-carousel anim anim-2">

        <div class="item" th:each="item : ${recProductList}">
            <dd class="not-animated">
                <a th:href="'javascript:viewProduct('+${item.contProductId}+');'">
                    <div class="imgs">
                        <img th:src="${item.contProductImgDOList[0].imgUrl}" alt="">
                        <p>&nbsp;</p>
                    </div>
                    <h2 th:text="${item.contProductInfoDO.productName}"></h2>
                </a>
            </dd>
        </div>

    </div>

</div>
<!-----------------------产品中心end------------------------------>
<!----------------------生产过程begin----------------------------->
<div class="i_pro_t anim anim-1" style="bottom:2%;">Production Process</div>
<div id="owl-demo" class="owl-carousel anim anim-2">
    <div class="item">
        <div class="bg-list-img">
            <a href="javascript:void(0)"><img class="lazyOwl" data-src="/tpc/picture/process1.jpg" alt=""></a>
        </div>
        <div class="bg-list-tit"><h4>1. Raw Material In Stock</h4></div>
        <label class="bg-list-more"></label>

        <div class="i_pro_bg">
            <a href="/contTpc/view/a-productionProcess">
                <div class="bg-list-hs" style=" background:url(/tpc/images/59674aa856e5e.png) center top no-repeat;">

                </div>
                <div class="bg-list-yew">
                    <h5> Raw Material In Stock</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="bg-list-img">
            <a href="javascript:void(0)"><img class="lazyOwl" data-src="/tpc/picture/process2.jpg" alt=""></a>
        </div>
        <div class="bg-list-tit"><h4>2. Forging links </h4></div>
        <label class="bg-list-more"></label>

        <div class="i_pro_bg">
            <a href="/contTpc/view/a-productionProcess">
                <div class="bg-list-hs" style=" background:url(/tpc/images/59674aa856e5e.png) center top no-repeat;">
                </div>
                <div class="bg-list-yew">
                    <h5> Forging links</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="bg-list-img">
            <a href="javascript:void(0)"><img class="lazyOwl" data-src="/tpc/picture/process3.jpg" alt=""></a>
        </div>
        <div class="bg-list-tit"><h4>3. Cutting rings </h4></div>
        <label class="bg-list-more"></label>

        <div class="i_pro_bg">
            <a href="/contTpc/view/a-productionProcess">
                <div class="bg-list-hs" style=" background:url(/tpc/images/59674aa856e5e.png) center top no-repeat;">
                </div>
                <div class="bg-list-yew">
                    <h5>Cutting rings </h5>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="bg-list-img">
            <a href="javascript:void(0)"><img class="lazyOwl" data-src="/tpc/picture/process4.jpg" alt=""></a>
        </div>
        <div class="bg-list-tit"><h4>4. Welding </h4></div>
        <label class="bg-list-more"></label>

        <div class="i_pro_bg">
            <a href="/contTpc/view/a-productionProcess">
                <div class="bg-list-hs" style=" background:url(/tpc/images/59674aa856e5e.png) center top no-repeat;">
                </div>
                <div class="bg-list-yew">
                    <h5>Welding </h5>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="bg-list-img">
            <a href="javascript:void(0)"><img class="lazyOwl" data-src="/tpc/picture/process5.jpg" alt=""></a>
        </div>
        <div class="bg-list-tit"><h4>5. Checking</h4></div>
        <label class="bg-list-more"></label>

        <div class="i_pro_bg">
            <a href="/contTpc/view/a-productionProcess">
                <div class="bg-list-hs" style=" background:url(/tpc/images/59674aa856e5e.png) center top no-repeat;">
                </div>
                <div class="bg-list-yew">
                    <h5> Checking</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="bg-list-img">
            <a href="javascript:void(0)"><img class="lazyOwl" data-src="/tpc/picture/process6.jpg" alt=""></a>
        </div>
        <div class="bg-list-tit"><h4>6. Heat treatment </h4></div>
        <label class="bg-list-more"></label>

        <div class="i_pro_bg">
            <a href="/contTpc/view/a-productionProcess">
                <div class="bg-list-hs" style=" background:url(/tpc/images/59674aa856e5e.png) center top no-repeat;">
                </div>
                <div class="bg-list-yew">
                    <h5> Heat treatment </h5>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="bg-list-img">
            <a href="javascript:void(0)"><img class="lazyOwl" data-src="/tpc/picture/process7.jpg" alt=""></a>
        </div>
        <div class="bg-list-tit"><h4>7. Shot blasting </h4></div>
        <label class="bg-list-more"></label>

        <div class="i_pro_bg">
            <a href="/contTpc/view/a-productionProcess">
                <div class="bg-list-hs" style=" background:url(/tpc/images/59674aa856e5e.png) center top no-repeat;">
                </div>
                <div class="bg-list-yew">
                    <h5>Shot blasting </h5>
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="bg-list-img">
            <a href="javascript:void(0)"><img class="lazyOwl" data-src="/tpc/picture/process8.jpg" alt=""></a>
        </div>
        <div class="bg-list-tit"><h4>8. Coating </h4></div>
        <label class="bg-list-more"></label>

        <div class="i_pro_bg">
            <a href="/contTpc/view/a-productionProcess">
                <div class="bg-list-hs" style=" background:url(/tpc/images/59674aa856e5e.png) center top no-repeat;">
                </div>
                <div class="bg-list-yew">
                    <h5> Coating </h5>
                </div>
            </a>
        </div>
    </div>
</div>

<!-------------------------生产过程end---------------------------------->
<!---------------关于我们begin----------------------------->
<div class="i_about">
    <div class="i_about_t anim anim-1">about us</div>
    <div class="i_about_con">
        <div class="imgs anim anim-2">
            <img src="/tpc/picture/about1.png" alt="">
        </div>
        <div class="i_about_r anim anim-3" >
            <div class="i_about_txt">
                <p style="text-indent:37px" th:text="${aboutUsCont.resume}"></p>
            </div>
            <a href="/contTpc/view/a-aboutUs " class="i_about_more">see more</a>
        </div>

        <div class="c_l"></div>
    </div>
</div>
<!--关于我们end-->
<!--资讯中心begin-->
<div class="i_news_bg">
    <div class="i_about_t anim anim-1">information centre</div>
    <div class="i_news_a anim anim-2">

        <a href="javascript:void(0)" j class="osel">news</a>

        <!--       <a href="javascript:void(0)">公司新闻</a>-->

    </div>
    <div class="i_news_con anim anim-3">
        <div class="i_news_div" style="display:block;">
            <!--公司资讯begin-->
            <div id="owl-demo3" class="owl-carousel">
                <div class="item">
                    <dd class="not-animated">
                        <div class="i_news_l">
                            <ul>
                                <li th:each="item,stat : ${newsList}">
                                    <a th:href="'/contTpc/openViewNewsDetail/'+${item.cid}">
                                        <div class="four_date"><b th:text="${#dates.format(item.gtmCreate, 'dd')}"></b><span th:text="${#dates.format(item.gtmCreate, 'yyyy-MM')}"></span></div>
                                        <div class="four_txt">
                                            <h2 th:text="${item.title}"></h2>
                                            <p th:text="${item.resume}"></p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a th:href="'/contTpc/openViewNewsDetail/'+${newsFirst.cid}">
                            <div class="imgs"  style="height: 380px">
                                <div>
                                    <img th:src="${newsFirst.imgUrl}" style="width: 100%;display: block;">
                                </div>
                                <h2>
                                    <em th:text="${newsFirst.gtmCreate}"></em>
                                    <span th:text="${newsFirst.title}"></span>
                                </h2>
                            </div>
                        </a>
                    </dd>
                </div>

            </div>

            <!--公司资讯end-->
        </div>
    </div>
</div>
<!--资讯中心end-->

</div>

<!--尾部begin-->
<div th:include="include/public-tpc :: footer"></div><!-- 共用footer部分 -->
<script src="/tpc/js/owl.carousel.js"></script>
<script type="text/javascript" src="/js/appjs/tpc/index.js"></script>

<script>
    $("#owl-demo2").owlCarousel({
        items: 3,
        lazyLoad: true,
        autoPlay: true,
        itemsDesktop: [1199, 3],
        itemsDesktopSmall: [979, 3],
        itemsTablet: [768, 2],
        itemsTabletSmall: false,
        itemsMobile: [479, 2],
        navigation: true
    });

    $("#owl-demo").owlCarousel({
        items: 5,
        lazyLoad: true,
        itemsDesktop: [1600, 4],
        itemsDesktopSmall: [1279, 3],
        itemsTablet: [768, 2],
        itemsMobile: [479, 2],
        autoPlay: true,
        navigation: true
    });

    $("#owl-demo3").owlCarousel({
        items: 1,
        lazyLoad: true,
        itemsDesktop: [1600, 1],
        itemsDesktopSmall: [1279, 1],
        itemsTablet: [768, 1],
        itemsMobile: [479, 1],
        autoPlay: true,
        navigation: true
    });

    $('myCarousel').carousel({
        interval: 500
    });

</script>

</body>
</html>