<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
	<title>Tire protection chain</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" /> 
    <meta name="author" content="作者" />
    <meta name="copyright" content="版权" />

    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/anim.css" rel="stylesheet"/>
    <link href="css/slide.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <link href="css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" href="images/logosmall.png" type="image/x-icon" /> 
	
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.superslide.2.1.1.js">//pc导航</script>
    <script src="js/jquery.caroufredsel.js">//轮显</script>
    <script src="js/jquery.touchswipe.min.js">//轮显</script>
    <script src="js/public.js">//导航</script>
    <script src="js/anim.js">//动画</script>
</head>

<body>
<header class="header-v1">
    <!-- S top-main -->
    <div class="top-main">
        <div class="logo1"><a href="index.html"><img src="images/logo.png" alt=""/></a></div>
		<a href="#" class="languages"><img src="picture/top_pic2.png" alt=""/></a>


         <div class="top_search"><em></em>

            <div class="search_con" style="height:200px;">
                <form onSubmit="return checktop(this);" action="#" method="get" name="search"  id="form3">
                <input class="input1" name="title" value="Search" onFocus="if(value=='Search'){value=''}" onBlur="if(value==''){value='Search'}">
                <input name="c" type="hidden" value="Index">
                <input name="a" type="hidden" value="Search">
                <input type="submit" class="bnts"  value="">
                </form>
                  <script type="text/javascript">
                    function checktop(nForm){
                        if(nForm.title.value=="Search")
                        {   alert("请填写搜索关键字!");
                            nForm.title.focus();
                            return false;
                        }
                    }
                    function checktop_en(nForm){
                        if(nForm.title.value=="Search")
                        {   alert("Please fill in the search keywords");
                            nForm.title.focus();
                            return false;
                        }
                    }
                </script>
            </div>
        </div>
        <div class="top-main-content"><!-- S nav -->
            <div class="navBar">
                <ul class="nav clearfix">
                    <li id="m1" class="m"><h3><a href="index.html" title="Home">Home</a></h3>
              <div class="sub" style="display:none"></div>            </li>
                    <li id="m2" class="m"><h3><a href="Tire protection chain-2.html" title="Tire protection chain">Tire protection chain</a></h3>
              <div class="sub" style="display:none"></div>
                    </li><li id="m3" class="m on"><h3><a href="Product Catalog-3.html" title="Product Catalog">Product Catalog</a></h3>
              <div class="sub" style="display:none">
                     <dl>
								<dd><a href="Product Catalog-3.html">4 X 4 tire protection chains</a></dd>
								<dd><a href="Product Catalog-3.html">6 X 6 tire protection chains</a></dd>
								<dd><a href="Product Catalog-3.html">10 X 10 tire protection chains </a></dd>
							</dl>
                        </div>
                    </li>
                    <li id="m4" class="m"><h3><a href="Production Process-4.html" title="Production Process">Production Process</a></h3>
             <div class="sub" style="display:none"></div>
                    </li>
                    <li id="m5" class="m "><h3><a href="About US-5.html" title="About US">About US</a></h3>
             <div class="sub" style="display:none"></div>
                    </li>
                    <li id="m6" class="m "><h3><a href="news-6.html" title="News">News</a></h3>
             <div class="sub" style="display:none"></div>
                    </li>
                    <li id="m7" class="m "><h3><a href="Contact Us-7.html" title="Contact Us">Contact Us</a></h3>
              <div class="sub" style="display:none"></div>
                    </li>
				</ul>
            </div>
            <script type="text/javascript"> jQuery(".nav").slide({
                type: "menu",
                titCell: ".m",
                targetCell: ".sub",
                effect: "slideDown",
                delayTime: 300,
                triggerTime: 100,
                returnDefault: true
            });</script>
            <!-- E nav-->
    	</div>
    </div>
    <!-- E top-main -->
    <div class="c_l"></div>
</header>


<!-- S touch-top-wrapper -->
<div class="touch-top">
    <div class="touch-top-wrapper clearfix">
        <div class="touch-logo" skinobjectzone="HtmlLogo_1514"><a class="" href="index.html"><img src="images/logo.png" alt="logo"/></a></div>
        <!-- S touch-navigation -->
        <div class="touch-navigation">
            <div class="touch-toggle">
                <ul>
                    <li class="touch-toggle-item-last"><a href="javascript:void(0);" class="drawer-menu"
             data-drawer="search_div"><i
                            class="touch-icon-search"><span>search for</span></i></a></li>
                    <li class="touch-toggle-item-last"><a href="javascript:;" class="drawer-menu"
              data-drawer="drawer-section-menu"><i
                            class="touch-icon-menu"></i><span>导航</span></a></li>
                </ul>
            </div>
        </div>
        <!-- E touch-navigation --></div>
    <!-- S touch-top -->
    <div class="touch-toggle-content touch-top-home">
        <!-----------------------手机搜索begin---------------------->
        <div class="drawer-section search_div">
            <div class="search_con"><input name="names" type="text" class="input1" value="Search"
         onFocus="if(value=='Search'){value=''}"
         onBlur="if(value==''){value='Search'}"/>
                <input type="submit" value="" class="bnt1"/>
            </div>
        </div>
        <!------------------------手机搜索end----------------------->
        <!------------------------手机菜单begin--------------------->
      <div class="drawer-section drawer-section-menu">
            <div class="touch-menu" skinobjectzone="menu_2005">
                <ul>
                    <li><a href="index.html"><span>Home</span></a>
                    </li>
                                        
                    <li><a href="Tire protection chain-2.html"><span>Tire protection chain</span></a>
                    </li>                    
                    <li><a href="javascript:;"><span>Product Catalog</span><i class="touch-arrow-down"></i> </a>
                      <ul>  
                       <li><a href="Product Catalog-3.html"><span>4 X 4 tire protection chains</span></a></li>
							<li><a href="Product Catalog-3.html"><span>6 X 6 tire protection chains</span></a></li>
							<li><a href="Product Catalog-3.html"><span>10 X 10 tire protection chains </span></a></li>
							
						</ul>
                    </li>                    
                    <li> <a href="Production Process-4.html"><span>Production Process</span></a> 
                    </li>                    
                    <li> <a href="About US-5.html"><span>About US</span></a> 
                    </li>                    
                    <li><a href="news-6.html"><span>News</span> </a> 
                        <ul></ul>
                    </li>                    
                    <li><a href="Contact Us-7.html"><span>Contact Us</span> </a> 
                        <ul></ul>
                    </li>                    
                </ul>
                <div class="closetitle"><img src="picture/nav_bg2.png" alt=""></div>
            </div>
        </div>
        <!----------------------手机菜单end---------------------------->

    </div>
    <!-- E touch-top -->
</div>

<div class="touch_bg">&nbsp;</div>
<!-- E touch-top-wrapper -->
<div class="blank_h">&nbsp;</div>
<!--轮显begin-->
<div id="a1portalSkin_ctr211899211899_mainArea" class="module-content"><!-- Start_Module_211899 --><!-- S slideshow -->
 
    <!-- E slideshow --><!-- End_Module_211899 --></div>
<!--轮显end-->
<!------------------------------banner start-------------------------->
<div class="banner">
    <img src="picture/banner03.png" alt="" style="width:100%;">
</div>
<script type="text/javascript" src="js/idangerous.swiper-2.0.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<!------------------------------banner end--------------------------->
<!-----------------------------生产过程begin------------------------->
<div class="Catalog">
    <div class="container">
        <p style="margin-top:20px;">Our tire protection chains mainly used link-ring system. We designed many kinds of links 

according to tyre size and working condition, and we will choose suitable connecting rings to weave tire protection chains. Our tire 

protection chains contain as follows: </p>
    <div class="row col-md-12 col-sm-12">
        <div class="left col-md-3">
            <div class="title">
                    <h3>Product Catalog</h3>
            </div>
            <ul> 
                <li class="current02">4 X 4 tire protection chains</li>
                <li>6 X 6 tire protection chains</li>
                <li>6 X 6 tire protection chains</li>
	 	      </ul>
        </div>
        <div class="right col-md-9 col-sm-12">
            <div class="title">
                <h3>Product Catalog</h3>
            </div> 
       
        <div class="content">
            <img src="picture/Catalog1.png" alt="">
            <img src="picture/Catalog1.png" alt="">
            <img src="picture/Catalog1.png" alt="">
            <img src="picture/Catalog1.png" alt="">
            <img src="picture/Catalog1.png" alt="">
            <img src="picture/Catalog1.png" alt="">
        <div class="pages anim anim-3 yema">
            <div>  
                <span class="current">1</span>
                <a class="num" href="#">2</a>
                <a class="next" href="#">&rsaquo;&rsaquo;</a> 
             </div>    
         </div>   
        </div>
        <div class="content">
            <img src="picture/Catalog2.png" alt="">
            <img src="picture/Catalog2.png" alt="">
            <img src="picture/Catalog2.png" alt="">
            <img src="picture/Catalog2.png" alt="">
            <img src="picture/Catalog2.png" alt="">
            <img src="picture/Catalog2.png" alt="">
           <!-- <ul class="pagination" style="margin-left:40%;">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>-->
         <div class="pages anim anim-3 yema">
            <div>  
                <span class="current">1</span>
                <a class="num" href="#">2</a>
                <a class="next" href="#">&rsaquo;&rsaquo;</a> 
             </div>    
     </div>   
        </div>
        <div class="content">
            <img src="picture/Catalog3.png" alt="">
            <img src="picture/Catalog1.png" alt="">
            <img src="picture/Catalog1.png" alt="">
            <img src="picture/Catalog1.png" alt="">
            <img src="picture/Catalog1.png" alt="">
            <img src="picture/Catalog1.png" alt="">
      <div class="pages anim anim-3 yema">
        <div>  
            <span class="current">1</span>
            <a class="num" href="#">2</a>
            <a class="next" href="#">&rsaquo;&rsaquo;</a> 
         </div>    
      </div>   
        </div>
    </div>
     </div>    
    </div>
</div>

 <script>
var x = 0
//显示第一组content，其它都隐藏
$(".content").hide().first().show()
$(".Catalog ul li").click(
	function(){
		$(this).addClass("current02").siblings().removeClass("current02")
/*$(this).addClass：当前对象添加个名称叫current的类，siblings().removeClass("current")，除自己以外的对象移除名叫current的类*/
		//得到当前按钮的位置数
		x = $(this).index()
		/*document.title=x*///用来测试当前位置数是多少
		//显示位置数对应的图片，其它图片接着隐藏
		$(".content").hide().eq(x).show()//图像都隐藏只的第x个显示，点击哪个按钮，哪个对应的图片显示
		
	}
)
</script>   
<!--产品目录end-->

<!--尾部begin-->
<div class="footers">
  <div class="container">
    <div class="left col-lg-4">
     <h2 style="margin:0;margin-bottom:20px;padding:0;">Contact Us</h2>
        <ul>
            
            <li>
                <span class="glyphicon glyphicon-home" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Address:Taiyuan City,Shanxi Province, China</p>
            </li>
            <li>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Zip:030006</p>
            </li>
            <li>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Tel:0086-351-4063778</p>
            </li>
            <li>
                <span class="glyphicon glyphicon-print" aria-hidden="true" style="float:left;margin-right:6px;"></span><p>Fax:0086-351-4063778</p></li>
            <li>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Email:sales@tire-protection-chain.com   </p></li>
           <div class="clearfix"></div>
        </ul>
    </div>
    <div class="right col-lg-8">
      <div class="row">
        <h2 style="margin:0;padding:0 0 20px 0;">Send an enquiry</h2>
        <p>If you have questions or need help with the project, please fill out the enquiry，The form is as follow，Yutai Glass representative will contact you as soon as possible As much as possible.</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Feedback topic">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="E-mail">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Phone">
          </div>
        </div>
        <form role="form" style="margin-top:12px;">
          <div class="form-group">
          
           <textarea class="form-control" rows="5" placeholder="Information description"></textarea>   
          </div>
        </form>
        <button type="submit" class="btn btn-default">Send inquiry</button>
      </div>
    </div>
  </div>
</div>
<a href="javascript:void(0)" class="gotop" onClick="goTop()"></a>
<!--尾部end-->
<script language="javascript" src="js/foot.js"></script>
<!--弹窗end-->
</body>
</html>