<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
	<title>Tire protection chain</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" /> 
    <meta name="author" content="作者" />
    <meta name="copyright" content="版权" />

    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/anim.css" rel="stylesheet"/>
    <link href="css/slide.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <link href="css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" href="images/logosmall.png" type="image/x-icon" /> 
	
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.superslide.2.1.1.js">//pc导航</script>
    <script src="js/jquery.caroufredsel.js">//轮显</script>
    <script src="js/jquery.touchswipe.min.js">//轮显</script>
    <script src="js/public.js">//导航</script>
    <script src="js/anim.js">//动画</script>
</head>

<body>
<header class="header-v1">
    <!-- S top-main -->
    <div class="top-main">
        <div class="logo1"><a href="index.html"><img src="images/logo.png" alt=""/></a></div>
		<a href="#" class="languages"><img src="picture/top_pic2.png" alt=""/></a>


        <div class="top_search"><em></em>

            <div class="search_con" style="height:200px;">
                <form onSubmit="return checktop(this);" action="#" method="get" name="search"  id="form3">
                <input class="input1" name="title" value="Search" onFocus="if(value=='Search'){value=''}" onBlur="if(value==''){value='Search'}">
                <input name="c" type="hidden" value="Index">
                <input name="a" type="hidden" value="Search">
                <input type="submit" class="bnts"  value="">
                </form>
                <script type="text/javascript">
                    function checktop(nForm){
                        if(nForm.title.value=="Search")
                        {   alert("请填写搜索关键字!");
                            nForm.title.focus();
                            return false;
                        }
                    }
                    function checktop_en(nForm){
                        if(nForm.title.value=="Search")
                        {   alert("Please fill in the search keywords");
                            nForm.title.focus();
                            return false;
                        }
                    }
                </script>
            </div>
        </div>
        <div class="top-main-content"><!-- S nav -->
            <div class="navBar">
                <ul class="nav clearfix">
                    <li id="m1" class="m"><h3><a href="index.html" title="Home">Home</a></h3>
              <div class="sub" style="display:none"></div>            </li>
                    <li id="m2" class="m on"><h3><a href="Tire protection chain-2.html" title="Tire protection chain">Tire protection chain</a></h3>
              <div class="sub" style="display:none"></div>
                    </li><li id="m3" class="m "><h3><a href="Product Catalog-3.html" title="Product Catalog">Product Catalog</a></h3>
              <div class="sub" style="display:none">
                     <dl>
								<dd><a href="Product Catalog-3.html">4 X 4 tire protection chains</a></dd>
								<dd><a href="Product Catalog-3.html">6 X 6 tire protection chains</a></dd>
								<dd><a href="Product Catalog-3.html">10 X 10 tire protection chains </a></dd>
							</dl>
                        </div>
                    </li>
                    <li id="m4" class="m "><h3><a href="Production Process-4.html" title="Production Process">Production Process</a></h3>
             <div class="sub" style="display:none"></div>
                    </li>
                    <li id="m5" class="m "><h3><a href="About US-5.html" title="About US">About US</a></h3>
             <div class="sub" style="display:none"></div>
                    </li>
                    <li id="m6" class="m "><h3><a href="news-6.html" title="News">News</a></h3>
             <div class="sub" style="display:none"></div>
                    </li>
                    <li id="m7" class="m "><h3><a href="Contact Us-7.html" title="Contact Us">Contact Us</a></h3>
              <div class="sub" style="display:none"></div>
                    </li>
				</ul>
            </div>
            <script type="text/javascript"> jQuery(".nav").slide({
                type: "menu",
                titCell: ".m",
                targetCell: ".sub",
                effect: "slideDown",
                delayTime: 300,
                triggerTime: 100,
                returnDefault: true
            });</script>
            <!-- E nav-->
    	</div>
    </div>
    <!-- E top-main -->
    <div class="c_l"></div>
</header>


<!-- S touch-top-wrapper -->
<div class="touch-top">
    <div class="touch-top-wrapper clearfix">
        <div class="touch-logo" skinobjectzone="HtmlLogo_1514"><a class="" href="index.html"><img src="images/logo.png" alt="logo"/></a></div>
        <!-- S touch-navigation -->
        <div class="touch-navigation">
            <div class="touch-toggle">
                <ul>
                    <li class="touch-toggle-item-last"><a href="javascript:void(0);" class="drawer-menu"
             data-drawer="search_div"><i
                            class="touch-icon-search"><span>search for</span></i></a></li>
                    <li class="touch-toggle-item-last"><a href="javascript:;" class="drawer-menu"
              data-drawer="drawer-section-menu"><i
                            class="touch-icon-menu"></i><span>导航</span></a></li>
                </ul>
            </div>
        </div>
        <!-- E touch-navigation --></div>
    <!-- S touch-top -->
    <div class="touch-toggle-content touch-top-home">
        <!-----------------------手机搜索begin---------------------->
        <div class="drawer-section search_div">
            <div class="search_con"><input name="names" type="text" class="input1" value="Search"
         onFocus="if(value=='Search'){value=''}"
         onBlur="if(value==''){value='Search'}"/>
                <input type="submit" value="" class="bnt1"/>
            </div>
        </div>
        <!------------------------手机搜索end----------------------->
        <!------------------------手机菜单begin--------------------->
        <div class="drawer-section drawer-section-menu">
            <div class="touch-menu" skinobjectzone="menu_2005">
                <ul>
                    <li><a href="index.html"><span>Home</span></a>
                    </li>
                                        
                    <li><a href="Tire protection chain-2.html"><span>Tire protection chain</span></a>
                    </li>                    
                    <li><a href="javascript:;"><span>Product Catalog</span><i class="touch-arrow-down"></i></a>
                      <ul>  
                       <li><a href="product.html"><span>4 X 4 tire protection chains</span></a></li>
							<li><a href="product.html"><span>6 X 6 tire protection chains</span></a></li>
							<li><a href="product.html"><span>10 X 10 tire protection chains </span></a></li>
							
						</ul>
                    </li>                    
                    <li> <a href="Production Process-4.html"><span>Production Process</span></a> 
                    </li>                    
                    <li> <a href="About US-5.html"><span>About US</span></a> 
                    </li>                    
                    <li><a href="news-6.html"><span>News</span> </a> 
                        <ul></ul>
                    </li>                    
                    <li><a href="Contact Us-7.html"><span>Contact Us</span> </a> 
                        <ul></ul>
                    </li>                    
                </ul>
                <div class="closetitle"><img src="picture/nav_bg2.png" alt=""></div>
            </div>
        </div>
        <!----------------------手机菜单end---------------------------->

    </div>
    <!-- E touch-top -->
</div>

<div class="touch_bg">&nbsp;</div>
<!-- E touch-top-wrapper -->
<div class="blank_h">&nbsp;</div>
<!--轮显begin-->
<div id="a1portalSkin_ctr211899211899_mainArea" class="module-content"><!-- Start_Module_211899 --><!-- S slideshow -->
 
    <!-- E slideshow --><!-- End_Module_211899 --></div>
<!--轮显end-->
<!------------------------------banner start-------------------------->

<script type="text/javascript" src="js/idangerous.swiper-2.0.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<!------------------------------banner end--------------------------->
<!-----------------------------产品中心begin------------------------->
<div class="Protection" style="margin-top:20px;">
    <div class="container">
        <div class="about_t3  anim anim-1">Tire protection chain</div>
        <img src="picture/banner01.png" alt="">
        <h3>Why to use a Tire Protection Chain? </h3>
        <p>Sharp, edged rock, muddy and slippery surfaces are a great hazard to tires – even when new. Equipment downtime and loss of productivity are the result of sudden tire failure.</p>
         <div class="row" style="border:none;">
            <div class="left col-md-6 col-sm-6 col-xs-12">
              <div class="bj">
                  <h3>Application Areas of Tire Protection Chain</h3>
                  <p style="margin-top:10px;">Open Pit Mining<br>
                    Underground Mining &Tunnelling<br>
                    Quarrying<br>
                    Slag & Scrap Handling<br>
                    Traction
                    </p>
              </div>  
            </div>
            <div class="right col-md-6 col-sm-6 col-xs-12">
              <div class="bj">
                  <h3>The advantages of using tire protection chains are</h3>
                  <p style="margin-top:10px;">Open Pit Mining<br>
                    Reducing your operating costs<br>
                   Lowering your downtime<br>
                   Increasing your productivity<br>
                   &nbsp;
                    </p>
                  
              </div> 
            </div>
              
         </div> 
          <h3>Tire Protection Chains installation</h3>
         <div class="row">
            <div class="left col-md-8 col-sm-8">
               <p> 1.Let the loader raise the shovel, adjust one side of the tire and drive directly at tire protection chain then stop it when move to the 20 cm position of the tire protection chain. Make the tire half empty and the use about one meter iron wire through the circle of two sides of the front of the tire protection chain, and tighten it. Pull the iron wire by two men then hitch it into the trench.
                </p> 
            </div>
             <div class="right col-md-4 col-sm-4">
                 <img src="picture/Open Pit Mining.jpg" alt="" class="col-md-6" style="width:260px;">

             </div>
         </div> 
         <div class="row">
            <div class="left col-md-4 col-sm-4">
                 <img src="picture/Open Pit Mining1.jpg" alt="" class="col-md-6" style="width:260px;">
            </div>
             <div class="right col-md-8 col-sm-8">
               <p> 2. Back the loader, roll up the tire protection chains on the tire(drive the front when installing the tire back),a man should stand near both side of the tire, using a stick to pull the chain and then make the edgiest rhombuses assembly of the chain, both sides directly at the two sides tip of the tire, do not deviation, turn round a complete circle.
                </p> 
             </div>
         </div> 
         <div class="row">
            <div class="left col-md-8 col-sm-8">
               <p> 3. Connected the tire protection chains from both sides with pin link, tools can be usedfor installing. Connected the two tips of chain with connecting assembly and put down the board for pressing well, pierce the screw, tighten up it .Spot welding later.
                </p> 
            </div>
             <div class="right col-md-4 col-sm-4">
                 <img src="picture/Open Pit Mining2.jpg" alt="" class="col-md-6" style="width:260px;">

             </div>
         </div> 
         <div class="row">
            <div class="left col-md-4 col-sm-4">
                 <img src="picture/Open Pit Mining3.jpg" alt="" class="col-md-6" style="width:260px;">
            </div>
             <div class="right col-md-8 col-sm-8">
               <p> 4. Let the long lock chain throughout the ring of outside one by one and then connect with a stick of steel wire rope ,hitch one side of steel wire rope on it, raising the shovel and then pull tighten slowly, meanwhile, using a hammer to knock the ring which throughout the chain. Do this process for 3 or 4 times until tightens the tire protection chain.
                </p> 
             </div>
         </div> 
        <div class="row">
            <div class="left col-md-8 col-sm-8">
               <p>5. Insert a thin wire into cross of the chain for tighten and ring, taking down the steel wire rope,making the tip of chain back to ring and then through screw and tighten it .
                </p> 
            </div>
             <div class="right col-md-4 col-sm-4">
                 <img src="picture/Open Pit Mining4.jpg" alt="" class="col-md-6" style="width:260px;">

             </div>
         </div> 
         <div class="row">
            <div class="left col-md-4 col-sm-4">
                 <img src="picture/Open Pit Mining5.jpg" alt="" class="col-md-6" style="width:260px;">
            </div>
             <div class="right col-md-8 col-sm-8">
               <p> 6.Aerate the tire to normal then the installing of the tire protection chain is over.
                </p> 
             </div>
         </div> 
         <div class="row">
            <div class="left col-md-8 col-sm-8">
               <p> 7. Use the spot welding solders one side of screw of connecting assembly so that the screw can not fall off.
                </p> 
            </div>
             <div class="right col-md-4 col-sm-4">
                 <img src="picture/Open Pit Mining6.jpg" alt="" class="col-md-6" style="width:260px;">

             </div>
         </div> 
       
     </div> 
 </div>
    

    
<!--产品中心end-->
<!--资讯中心begin-->
<!--尾部begin-->
<div class="footers">
  <div class="container">
    <div class="left col-lg-4">
     <h2 style="margin:0;margin-bottom:20px;padding:0;">Contact Us</h2>
        <ul>
            
            <li>
                <span class="glyphicon glyphicon-home" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Address:Taiyuan City,Shanxi Province, China</p>
            </li>
            <li>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Zip:030006</p>
            </li>
            <li>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Tel:0086-351-4063778</p>
            </li>
            <li>
                <span class="glyphicon glyphicon-print" aria-hidden="true" style="float:left;margin-right:6px;"></span><p>Fax:0086-351-4063778</p></li>
            <li>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="float:left;margin-right:6px;"></span>
                <p>Email:sales@tire-protection-chain.com   </p></li>
           <div class="clearfix"></div>
        </ul>
    </div>
    <div class="right col-lg-8">
      <div class="row">
        <h2 style="margin:0;padding:0 0 20px 0;">Send an enquiry</h2>
        <p>If you have questions or need help with the project, please fill out the enquiry，The form is as follow，Yutai Glass representative will contact you as soon as possible As much as possible.</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Feedback topic">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="E-mail">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Phone">
          </div>
        </div>
        <form role="form" style="margin-top:12px;">
          <div class="form-group">
          
           <textarea class="form-control" rows="5" placeholder="Information description"></textarea>   
          </div>
        </form>
        <button type="submit" class="btn btn-default">Send inquiry</button>
      </div>
    </div>
  </div>
</div>
<a href="javascript:void(0)" class="gotop" onClick="goTop()"></a>
<!--尾部end-->
<script language="javascript" src="js/foot.js"></script>
<!--弹窗end-->
</body>
</html>