<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


    <title>turbine blade, turbine vane, superalloy casting,turbine blades</title>
    <meta name="keywords" content="turbine blade, turbine vane, turbine blades"/>
    <meta name="description" content="turbine blade, nozzle guide vane are our main vacuum investment castings."/>
    <link href="/xmx/css/lightbox.css" rel="stylesheet" type="text/css"/>
    <link href="/xmx/css/css.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../pub/hits.asp?action=pro_hits&amp;id=115"></script>
    <script type="text/javascript" src="/xmx/js/prototype.js"></script>

    <script type="text/javascript" src="/xmx/js/lightbox.js"></script>
    <script language="javascript" type="text/javascript" src="/xmx/js/comm.js"></script>
    <style type="text/css">

        .proimg img {
            position: static;
            top: -50%;
            left: -50%;
            vertical-align: middle;
            max-width: 148px;
            max-height: 148px;
        }

    </style>
</head>
<body>
<div id="site">

    <div th:include="include/public :: header"></div><!-- 共用顶部部分 -->
    <div id="main">
        <div th:include="include/public :: left"></div><!-- 共用左部部分 -->

        <div id="right">
            <div class="board"><strong>Products</strong></div>
            <div class="hcontent2">
                <div align="center" style="margin:20px auto">
                    <h1>{{productList[activeIndex].contProductInfoDO.productName}}</h1>
                </div>
                <center>

                    <table width="700" border="0" cellpadding="0" cellspacing="1" style="margin:0 auto;">
                        <tr>
                            <td align="center" valign="middle" class="line_buttom_hui_xuxian">

                                <img :src="productList[activeIndex].contProductImgDOList[0].imgUrl" alt="turbine blade"
                                     title="turbine blade" border="0"
                                     onload="javascript:if(this.width&gt;700) this.width=700;"/></td>
                        </tr>
                    </table>

                    <a href="/xmx/a-inquiry" target="_blank"> <img src="/xmx/images/contactnow.gif"
                                                                   style="cursor:pointer;"/>
                    </a>

                </center>
                <div class="clear"></div>
                <div class="prenext pdbox"><strong>Previous</strong>:

                    <a href="javascript:void(0);" v-on:click="setActiveIndex(caculate(activeIndex,-1))">{{productList[caculate(activeIndex,-1)].contProductInfoDO.productName}}</a>

                    <strong>Next</strong>:

                    <a href="javascript:void(0);" v-on:click="setActiveIndex(caculate(activeIndex,1))">{{productList[caculate(activeIndex,1)].contProductInfoDO.productName}}</a>
                </div>
                <div class="pdbox">
                    <strong>Model: </strong>
                    <h4 v-for="(pItem,pIndex) in productList[activeIndex].contProductParamDOList">
                        <span v-for="(pkItem,pkIndex) in pItem.contProductPkDOList">&nbsp;{{pkItem.paramValue}}</span>
                    </h4>
                </div>
                <div class="pc pdbox"><strong>Categories: </strong>
                    <a href="superalloy-investment-casting-1.html">Superalloy investment casting</a>

                    &raquo; <a href="blades-and-vanes-for-industrial-gas-turbine-1.html">blades and vanes for industrial
                        gas turbine</a>

                    &raquo;
                </div>
                <div class="pdbox"><strong>Description:</strong>
                    <div class="prodetaildes" id="prodetaildes"
                         v-html="productList[activeIndex].contProductInfoDO.details">
                        <div class="clear"></div>
                    </div>

                </div>
                <div id="hot">
                    <div id="htitlebg">
                        <div id="hott_1" class="htit2" onMouseOver="javascript:mover(2,1)"><strong>Related
                            Product</strong></div>
                        <div id="hott_2" class="htit1" onMouseOver="javascript:mover(1,2)"><strong>Hot Product</strong>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!--热门产品-->
                    <div class="hotbox" id="hot_1" style="display:none">

                        <div class="probox" v-for="(productItem,index) in hotProductList">
                            <center>
                                <div class="proimg">
                                    <p><a href="javascript:void(0);" v-on:click="changeCateProduct(productItem.contProductId)">
                                        <img :src="productItem.contProductImgDOList[0].imgUrl" vspace="0"
                                             border="0"/></a></p>
                                </div>
                                <div class="protext"><a href="javascript:void(0);" v-on:click="changeCateProduct(productItem.contProductId)">
                                    <h2>{{productItem.contProductInfoDO.productName}}</h2>
                                    <span></span></a></div>
                            </center>
                        </div>

                        <div style="clear:both"></div>
                    </div>
                    <!--推荐产品-->
                    <div class="hotbox" id="hot_2">

                        <div class="probox" v-for="(productItem,index) in productList">
                            <center>
                                <div class="proimg">
                                    <p><a href="javascript:void(0);" v-on:click="setActiveIndex(index)">
                                        <img :src="productItem.contProductImgDOList[0].imgUrl" vspace="0"
                                             border="0"/></a></p>
                                </div>
                                <div class="protext"><a href="javascript:void(0);" v-on:click="setActiveIndex(index)">
                                    <h2>{{productItem.contProductInfoDO.productName}}</h2>
                                    <span></span></a></div>
                            </center>
                        </div>

                        <div style="clear:both"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <script language="javascript" type="text/javascript">
                    function mover(m, n) {
                        document.getElementById("hott_" + n).className = "htit2";
                        document.getElementById("hott_" + m).className = "htit1";
                        document.getElementById("hot_" + m).style.display = "";
                        document.getElementById("hot_" + n).style.display = "none";
                    }
                </script>
                <div class="clear"></div>
                <div class="searchmore">Didn't find what you are looking for? <A href="send-inquiry.html">Send your
                    inquiry</A>.<BR/>
                    <strong>turbine blade Manufacturer</strong> search on: <A
                            href="http://www.google.com/search?hl=en&q=turbine blade&btnG=Google+Search"
                            target="_blank">Google</A>, <A
                            href="http://search.yahoo.com/search?p=turbine blade&fr=yfp-t-501&toggle=1&cop=mss&ei=UTF-8&fp_ip=CN&vc="
                            target="_blank">Yahoo</A>, <A
                            href="http://search.msn.com/results.aspx?q=turbine blade&form=QBRE"
                            target="_blank">Msn</A><BR/>
                </div>
                <div class="relpro">
                    Related Category:
                    <a href="superalloy-investment-casting-1.html">Superalloy investment casting</a>

                    &raquo; <a href="blades-and-vanes-for-industrial-gas-turbine-1.html">blades and vanes for industrial
                    gas turbine</a>

                    &raquo;
                </div>


            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="mainbg"></div>
    <div th:include="include/public :: root"></div><!-- 共用root部分 -->

    <script type="text/javascript" src="/js/appjs/xmx/a-productDetail.js"></script>
    <div class="flinks">Friendly Links:
        &nbsp;


    </div>
</div>
<div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1254565334'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254565334%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

<noscript>
    <iframe scr="*.htm"></iframe>
</noscript>
<script language="JavaScript">
    document.oncontextmenu = new Function("event.returnValue=true;");
    document.onselectstart = new Function("event.returnValue=true;");
</script>

</body>
</html>
