<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


    <title>turbine blade, turbine vane, superalloy casting,turbine blades</title>
    <meta name="keywords" content="turbine blade, turbine vane, turbine blades"/>
    <meta name="description" content="turbine blade, nozzle guide vane are our main vacuum investment castings."/>
    <link href="/xmx/css/lightbox.css" rel="stylesheet" type="text/css"/>
    <link href="/xmx/css/css.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="../pub/hits.asp?action=pro_hits&amp;id=115"></script>
    <script type="text/javascript" src="/xmx/js/prototype.js"></script>

    <script type="text/javascript" src="/xmx/js/lightbox.js"></script>
    <script language="javascript" type="text/javascript" src="/xmx/js/comm.js"></script>

</head>
<body>
<div id="site">
    <div id="topline">investment casting|lost wax casting|aluminum investment casting|vacuum investment
        casting|stainless steel investment casting|steel investment casting|.
    </div>
    <div id="top">
        <div id="logo"><a href="index.html" title="A&M Manufacturing Co.Ltd"><img src="/xmx/images/logo.png"
                                                                                  alt="A&M Manufacturing Co.Ltd"
                                                                                  border="0"/></a></div>
        <div id="search">
            <form id="form1" name="form1" method="get" action="">

                <ul>
                    <li><strong>Search Product:</strong></li>
                    <li>
                        <input name="modval_" id="modval_" type="text" value="Enter Search Keyword"
                               onfocus="javascript:if(this.value=='Enter Search Keyword')this.value=''"
                               onblur="javascript:if(this.value=='')this.value='Enter Search Keyword'"
                               onkeydown="if(event.keyCode==13){search_();return false;}" class="search_input"/>
                    </li>
                    <li>
                        <select name="type_" id="type_" class="search_select">
                            <option selected="selected" value="">All Categories</option>

                            <option value="40">Stainless steel investment casting</option>

                            <option value="41">Alloy steel and carbon steel investment casting</option>

                            <option value="43">Aluminum investment casting</option>

                            <option value="44">Superalloy investment casting</option>

                            <option value="46">Copper investment casting</option>

                            <option value="48">Ductile iron investment casting</option>

                            <option value="49">CNC machining parts</option>

                            <option value="50">Iron sand casting</option>

                            <option value="51">Steel sand casting</option>

                            <option value="52">Metal Artware</option>

                            <option value="53">Aluminum die casting</option>

                        </select>
                    </li>
                    <li>
                        <input type="button" class="search_btn" onclick="javascript:searchwithtype_();"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li><a title="Home" href="index.html" rel="nofollow"><strong>Home</strong></a></li>
            <li><a title="About Us" href="About-Us.html"><strong>About Us</strong></a></li>
            <li style="z-index: 555;"><a
                    class="hide" href="Products.html"><b>Products</b></a>


                <ul>

                    <li><a class="hide" href="stainless-steel-investment-casting-1.html"
                           title="Stainless steel investment casting">Stainless steel investment casting</a>


                        <ul>

                            <li><a href="auto-parts-1.html" title="Auto parts">Auto parts</a></li>

                            <li><a href="valve-parts-1.html" title="Valve parts">Valve parts</a></li>

                        </ul>

                    <li><a class="hide" href="alloy-steel-investment-casting-1.html"
                           title="Alloy steel and carbon steel investment casting">Alloy steel and carbon steel
                        investment casting</a>


                        <ul>

                            <li><a href="mining-drill-bits-1.html" title="Mining drill bits">Mining drill bits</a></li>

                            <li><a href="clamp-casting-1.html" title="Clamp casting">Clamp casting</a></li>

                        </ul>

                    <li><a class="hide" href="aluminum-investment-casting-1.html" title="Aluminum investment casting">Aluminum
                        investment casting</a>


                        <ul>

                            <li><a href="auto-parts-1.html" title="Auto parts">Auto parts</a></li>

                            <li><a href="impeller-and-turbine-1.html" title="Impeller and turbine">Impeller and
                                turbine</a></li>

                        </ul>

                    <li><a class="hide" href="superalloy-investment-casting-1.html"
                           title="Superalloy investment casting">Superalloy investment casting</a>


                        <ul>

                            <li><a href="blades-and-vanes-for-industrial-gas-turbine-1.html"
                                   title="blades and vanes for industrial gas turbine">blades and vanes for industrial
                                gas turbine</a></li>

                            <li><a href="impeller-for-submersible-pump-1.html" title="Impeller for submersible pump">Impeller
                                for submersible pump</a></li>

                        </ul>

                    <li><a class="hide" href="metal-artware-1.html" title="Metal Artware">Metal Artware</a>


                        <ul>

                            <li><a href="gift-souvenir-medal-1.html" title="Gift souvenir medal">Gift souvenir medal</a>
                            </li>

                            <il><a href="stainless-steel-artware-1-1.html" title="Stainless Steel Artware">Stainless
                                Steel Artware</a></li>

                        </ul>

                    <li><a class="hide" href="copper-investment-casting-1.html" title="Copper investment casting">Copper
                        investment casting</a>


                        <ul>

                            <li><a href="copper-valve-casting-1.html" title="Copper valve casting">Copper valve
                                casting</a></li>

                            <li><a href="copper-impeller-casting-1.html" title="Copper impeller casting">Copper impeller
                                casting</a></li>

                            <li><a href="copper-joint-casting-1.html" title="Copper joint casting">Copper joint
                                casting</a></li>

                        </ul>

                    <li><a class="hide" href="aluminum-die-casting-1.html" title="Aluminum die casting">Aluminum die
                        casting</a>


                        <ul>

                            <li><a href="auto-parts-1.html" title="Aluminum auto parts">Aluminum auto parts</a></li>

                            <li><a href="housing-1.html" title="Housing">Housing</a></li>

                            <li><a href="radiator-shell-1.html" title="Radiator shell">Radiator shell</a></li>

                            <li><a href="customized-parts-1.html" title="Customized parts">Customized parts</a></li>

                        </ul>

                    <li><a class="hide" href="ductile-iron-investment-casting-1.html"
                           title="Ductile iron investment casting">Ductile iron investment casting</A>


                    <li><a class="hide" href="cnc-machining-parts-1.html" title="CNC machining parts">CNC machining
                        parts</a>


                        <ul>

                            <li><a href="stop-collar-1.html" title="Stop collar">Stop collar</a></li>

                        </ul>

                    <li><a class="hide" href="sand-casting-1.html" title="Iron sand casting">Iron sand casting</a>


                        <ul>

                            <li><a href="agricultural-machinery-casting-1.html" title="Agricultural machinery casting">Agricultural
                                machinery casting</a></li>

                            <li><a href="air-conditioner-parts-1.html" title="Air conditioner parts">Air conditioner
                                parts</a></li>

                            <li><a href="construction-parts-1.html" title="Construction parts">Construction parts</a>
                            </li>

                            <li><a href="sewing-machine-parts-1.html" title="Sewing machine parts">Sewing machine
                                parts</a></li>

                            <li><a href="armature-casting-1.html" title="Armature casting">Armature casting</a></li>

                            <li><a href="adi-casting-1.html" title="ADI casting">ADI casting</a></li>

                        </ul>

                    <li><a class="hide" href="steel-sand-casting-1.html" title="Steel sand casting">Steel sand
                        casting</a>


                        <ul>

                            <li><a href="auto-spare-part-1.html" title="Auto spare part">Auto spare part</a></li>

                            <li><a href="engineering-machinery-and-mining-machinery-1.html"
                                   title="Engineering machinery and mining machinery">Engineering machinery and mining
                                machinery</a></li>

                            <li><a href="pump-valve-parts-1.html" title="pump valve parts">pump valve parts</a></li>

                            <li><a href="mine-truck-parts-1.html" title="Mine truck parts">Mine truck parts</a></li>

                            <LI><A href="railway-vehicle-parts-1.html" title="Railway vehicle parts">Railway vehicle
                                parts</A></LI>

                        </ul>

                </ul>

            </li>


            <li><a title="News" href="News.html"><b>News</b></a></li>
            <li><a title="Capability" href="Capability.html"><b>Capability</b></a></li>

            <li><a title="Contact Us" href="contact-us.html"><b>Contact Us</b></a></li>
            <li><a href="mailto:market@investment-casting.biz"><b>E-mail:</b> market@investment-casting.biz</a></li>
        </ul>

    </div>


    <div class="maint"></div>
    <div id="curpos"><span>You are here:</span> <a href="/">Home</a> &raquo; <a href="Products.html">Products</a>
        &raquo;
        <a href="superalloy-investment-casting-1.html">Superalloy investment casting</a>

        &raquo; <a href="blades-and-vanes-for-industrial-gas-turbine-1.html">blades and vanes for industrial gas
            turbine</a>

        &raquo; <a href="turbine-blade-115.htm">turbine blade</a></div>
    <div id="main">
        <div id="left">
            <div class="lefttop"></div>
            <div class="ltit"><strong>Products Catagories</strong></div>
            <div id="nav">
                <div class="navmid">
                    <dl>

                        <dt v-for="(item,index) in categoryTree.children">
                            <ul>
                                <!--一级分类-->
                                <li><a href="javascript:void(0);" v-on:click="listProduct(item.id,item.text)"
                                       :title="item.text">
                                    <h2>{{item.text}}</h2>
                                </a>&nbsp;(9)
                                </li>
                                <!--二级分类-->
                                <li v-for="(item2,index2) in item.children">
                                    <a href="javascript:void(0);" v-on:click="listProduct(item.id,item.text)"
                                       :title="item2.text"><p>{{item2.text}}</p></a>&nbsp;(4)
                                </li>
                            </ul>
                        </dt>

                    </dl>
                </div>
            </div>

            <div class="ltit"><strong>News &amp; Events</strong></div>
            <div class="contactBox">
                <div id="i_news">
                    <div class="inner">
                        <ul>

                            <li>
                                <h2><a href="../tuv-certificate-156.html">TUV Certificate...</a></h2>
                                <span class="time" style="padding-left:15px;">[2017-7-4 10:54:01]</span>
                                <p style="padding-left:15px;">Our SIMIS just get the TUV Certificate and Alibaba
                                    Assessed Supplier ....</p>
                            </li>

                            <li>
                                <h2><a href="../the-investment-casting-process-155.html">The Investment Casting
                                    Proce...</a></h2>
                                <span class="time" style="padding-left:15px;">[2017-7-3 8:14:52]</span>
                                <p style="padding-left:15px;">The investment casting or “lost wax” process is ancient in
                                    its origin, 4000 BC. Although the process is ancient in origin we can attribute the
                                    success...</p>
                            </li>

                            <li>
                                <h2><a href="../adi-casting-154.html">ADI CASTING...</a></h2>
                                <span class="time" style="padding-left:15px;">[2017-6-27 15:44:11]</span>
                                <p style="padding-left:15px;">At SIMIS Foundry we have been producing austempered
                                    ductile iron castings for the last 30 years. As well as austempered ductile iron
                                    castings, our cus...</p>
                            </li>

                            <li>
                                <h2><a href="../the-high-pressure-aluminum-die-casting-process-153.html">The high
                                    pressure aluminum d...</a></h2>
                                <span class="time" style="padding-left:15px;">[2016-9-21 8:26:54]</span>
                                <p style="padding-left:15px;">high pressure aluminum die casting...</p>
                            </li>

                            <li>
                                <h2><a href="../the-advantages-and-disadvantages-of-lost-foam-casting-152.html">The
                                    advantages and disadvant...</a></h2>
                                <span class="time" style="padding-left:15px;">[2016-2-22 9:04:19]</span>
                                <p style="padding-left:15px;">The advantages and disadvantages of lost foam
                                    casting...</p>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="ltit"><strong>Contact Information</strong></div>
            <div class="contactBox">
    <span style="padding:0 0 10px 10px;"><strong>A&M Manufacturing Co.Ltd</strong><br/><strong>Add:</strong>&nbsp;Taiyuan City, Shanxi Province, China<br/>
    <strong>Tel.:</strong>&nbsp;0086-351-4063799<br/><strong>Email:</strong>&nbsp;<a
                href="mailto:market@investment-casting.biz">market@investment-casting.biz</a><br/><strong>Web:</strong>&nbsp;<a
                href="http://www.investment-casting.biz"
                title="Add to your favorates">http://www.investment-casting.biz</a><br/>
    </span>
                <center><a href="contact-us.html"><img src="/xmx/images/contact_now.gif"/></a></center>
                <br/>

                <div class="clear"></div>
            </div>
        </div>

        <div id="right">
            <div class="board"><strong>Products</strong></div>
            <div class="hcontent2">
                <div align="center" style="margin:20px auto">
                    <h1>{{product.contProductInfoDO.productName}}</h1>
                </div>
                <center>

                    <table width="700" border="0" cellpadding="0" cellspacing="1" style="margin:0 auto;">
                        <tr>
                            <td align="center" valign="middle" class="line_buttom_hui_xuxian">

                                <img :src="product.contProductImgDOList[0].imgUrl" alt="turbine blade" title="turbine blade" border="0"
                                     onload="javascript:if(this.width&gt;700) this.width=700;"/></td>
                        </tr>
                    </table>

                    <a href="inquiry.html" target="_blank"> <img src="/xmx/images/contactnow.gif" style="cursor:pointer;"/>
                    </a>

                </center>
                <div class="clear"></div>
                <div class="prenext pdbox"><strong>Previous</strong>:

                    <a href="blades-and-vanes-for-industrial-gas-turbine-202.htm"
                       title="blades and vanes for industrial gas turbine">blades and vanes for industrial gas
                        turbine</a>

                    <strong>Next</strong>:

                    <a href="turbine-wheel-114.htm" title="turbine wheel">turbine wheel</a>
                </div>
                <div class="pdbox"><strong>Model: </strong></div>
                <div class="pc pdbox"><strong>Categories: </strong>
                    <a href="superalloy-investment-casting-1.html">Superalloy investment casting</a>

                    &raquo; <a href="blades-and-vanes-for-industrial-gas-turbine-1.html">blades and vanes for industrial
                        gas turbine</a>

                    &raquo;
                </div>
                <div class="pdbox"><strong>Description:</strong>
                    <div class="prodetaildes" id="prodetaildes">
                        {{product.contProductInfoDO.details}}
                        <div class="clear"></div>
                    </div>

                </div>
                <div id="hot">
                    <div id="htitlebg">
                        <div id="hott_1" class="htit2" onMouseOver="javascript:mover(2,1)"><strong>Related
                            Product</strong></div>
                        <div id="hott_2" class="htit1" onMouseOver="javascript:mover(1,2)"><strong>Hot Product</strong>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="hotbox" id="hot_1" style="display:none">

                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="impeller-286.htm" title="impeller - "><img src="/xmx/pic/other/286_0.jpg"
                                                                                           alt="impeller" vspace="0"
                                                                                           border="0"/></a></p>
                                </div>
                                <div class="protext"><a href="impeller-286.htm" title="impeller - "><h2>impeller</h2>
                                    <span></span></a></div>
                            </center>
                        </div>

                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="auto-part-271.htm" title="auto part - "><img src="/xmx/pic/other/271_0.jpg"
                                                                                             alt="auto part" vspace="0"
                                                                                             border="0"/></a></p>
                                </div>
                                <div class="protext"><a href="auto-part-271.htm" title="auto part - "><h2>auto part</h2>
                                    <span></span></a></div>
                            </center>
                        </div>

                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="auto-part-270.htm" title="auto part - "><img src="/xmx/pic/other/270_0.jpg"
                                                                                             alt="auto part" vspace="0"
                                                                                             border="0"/></a></p>
                                </div>
                                <div class="protext"><a href="auto-part-270.htm" title="auto part - "><h2>auto part</h2>
                                    <span></span></a></div>
                            </center>
                        </div>

                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="auto-part-272.htm" title="auto part - "><img src="/xmx/pic/other/272_0.jpg"
                                                                                             alt="auto part" vspace="0"
                                                                                             border="0"/></a></p>
                                </div>
                                <div class="protext"><a href="auto-part-272.htm" title="auto part - "><h2>auto part</h2>
                                    <span></span></a></div>
                            </center>
                        </div>

                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="auto-part-273.htm" title="auto part - "><img src="/xmx/pic/other/273_0.jpg"
                                                                                             alt="auto part" vspace="0"
                                                                                             border="0"/></a></p>
                                </div>
                                <div class="protext"><a href="auto-part-273.htm" title="auto part - "><h2>auto part</h2>
                                    <span></span></a></div>
                            </center>
                        </div>

                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="aluminum-gear-box-280.htm" title="aluminum gear box - "><img
                                            src="/xmx/pic/other/280_0.jpg" alt="aluminum gear box" vspace="0"
                                            border="0"/></a></p>
                                </div>
                                <div class="protext"><a href="aluminum-gear-box-280.htm" title="aluminum gear box - ">
                                    <h2>aluminum gear box</h2><span></span></a></div>
                            </center>
                        </div>

                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="radiator-shell-284.htm" title="radiator shell - "><img
                                            src="/xmx/pic/other/284_0.jpg" alt="radiator shell" vspace="0" border="0"/></a>
                                    </p>
                                </div>
                                <div class="protext"><a href="radiator-shell-284.htm" title="radiator shell - "><h2>
                                    radiator shell</h2><span></span></a></div>
                            </center>
                        </div>

                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="aluminum-housing-277.htm" title="aluminum housing - "><img
                                            src="/xmx/pic/other/277_0.jpg" alt="aluminum housing" vspace="0" border="0"/></a>
                                    </p>
                                </div>
                                <div class="protext"><a href="aluminum-housing-277.htm" title="aluminum housing - "><h2>
                                    aluminum housing</h2><span></span></a></div>
                            </center>
                        </div>

                        <div style="clear:both"></div>
                    </div>
                    <div class="hotbox" id="hot_2">


                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="blades-and-vanes-for-industrial-gas-turbine-202.htm"
                                          title="blades and vanes for industrial gas turbine - "><img
                                            src="/xmx/pic/other/202_0.jpg" alt="blades and vanes for industrial gas turbine"
                                            vspace="0" border="0"/></a></p>
                                </div>
                                <div class="protext"><a href="blades-and-vanes-for-industrial-gas-turbine-202.htm"
                                                        title="blades and vanes for industrial gas turbine - "><h2>
                                    blades and vanes for industrial gas turbine</h2><span></span></a></div>
                            </center>
                        </div>

                        <div class="probox">
                            <center>
                                <div class="proimg">
                                    <p><a href="turbine-wheel-114.htm" title="turbine wheel - "><img
                                            src="/xmx/pic/other/114_0.jpg" alt="turbine wheel" vspace="0" border="0"/></a>
                                    </p>
                                </div>
                                <div class="protext"><a href="turbine-wheel-114.htm" title="turbine wheel - "><h2>
                                    turbine wheel</h2><span></span></a></div>
                            </center>
                        </div>

                        <div style="clear:both"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <script language="javascript" type="text/javascript">
                    function mover(m, n) {
                        document.getElementById("hott_" + n).className = "htit2";
                        document.getElementById("hott_" + m).className = "htit1";
                        document.getElementById("hot_" + m).style.display = "";
                        document.getElementById("hot_" + n).style.display = "none";
                    }
                </script>
                <div class="clear"></div>
                <div class="searchmore">Didn't find what you are looking for? <A href="send-inquiry.html">Send your
                    inquiry</A>.<BR/>
                    <strong>turbine blade Manufacturer</strong> search on: <A
                            href="http://www.google.com/search?hl=en&q=turbine blade&btnG=Google+Search"
                            target="_blank">Google</A>, <A
                            href="http://search.yahoo.com/search?p=turbine blade&fr=yfp-t-501&toggle=1&cop=mss&ei=UTF-8&fp_ip=CN&vc="
                            target="_blank">Yahoo</A>, <A
                            href="http://search.msn.com/results.aspx?q=turbine blade&form=QBRE"
                            target="_blank">Msn</A><BR/>
                </div>
                <div class="relpro">
                    Related Category:
                    <a href="superalloy-investment-casting-1.html">Superalloy investment casting</a>

                    &raquo; <a href="blades-and-vanes-for-industrial-gas-turbine-1.html">blades and vanes for industrial
                    gas turbine</a>

                    &raquo;
                </div>


            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="mainbg"></div>
    <div id="root">
        <div class="rootseo">Keywords:</div>
        <div class="rootmenu">

            <a href="index.html" title="Home">Home</a> |

            <a href="About-Us.html" title="About Us">About Us</a> |

            <a href="Products.html" title="Products">Products</a> |

            <a href="News.html" title="News">News</a> |

            <a href="send-inquiry.html" title="Inquiry">Inquiry</a> |

            <a href="Capability.html" title="Capability">Capability</a> |

            <a href="contact-us.html" title="Contact Us">Contact Us</a> |

        </div>
        <script language="javascript" type="text/javascript" src="/js/lang.js"></script>
        <div class="trans"><a href="javascript:translator('en|en')"><img src="/xmx/images/english.gif" width="15" height="11"
                                                                         align="absmiddle"/> English</a>
            <a href="javascript:translator('en|de')"><img src="/xmx/images/deutsch1.gif" width="15" height="11"
                                                          align="absmiddle"/> German</a>
            <a href="javascript:translator('en|es')"><img src="/xmx/images/espanol.gif" width="15" height="11"
                                                          align="absmiddle"/> Spanish</a>
            <a href="javascript:translator('en|fr')"><img src="/xmx/images/francies.gif" width="15" height="11"
                                                          align="absmiddle"/> French</a>
            <a href="javascript:translator('en|it')"><img src="/xmx/images/italino.gif" width="15" height="11"
                                                          align="absmiddle"/> Italian</a>
            <a href="javascript:translator('en|pt')"><img src="/xmx/images/portgues.gif" width="15" height="11"
                                                          align="absmiddle"/> Portuguese</a>
            <a href="javascript:translator('en|ja')"><img src="/xmx/images/japan.jpg" width="15" height="11"
                                                          align="absmiddle"/> Japanese</a>
            <a href="javascript:translator('en|ko')"><img src="/xmx/images/korea.jpg" width="15" height="11"
                                                          align="absmiddle"/> Korean</a>
            <a href="javascript:translator('en|ar')"><img src="/xmx/images/arabia.jpg" width="15" height="11"
                                                          align="absmiddle"/> Arabic</a>
            <a href="javascript:translator('en|ru')"><img src="/xmx/images/russia.jpg" width="15" height="11"
                                                          align="absmiddle"/> Russian</a>
            <a href="javascript:translator('en|cn')"><img src="/xmx/images/chinese.gif" width="15" height="11"
                                                          align="absmiddle"/> Chinese</a></div>


        <div class="copyright"> Copyright <span id="CopyRight">
    &copy; </span> 2018&nbsp;<a href="index.html">A&M Manufacturing Co.Ltd</a> All Rights Reserved <a
                href="sitemap.html">SiteMap</a> <a href="/rss.xml"><img src="/xmx/images/rss.jpg" width="49" height="14"
                                                                        border="0"/></a>&nbsp;<a
                href="/sitemap.xml"><img src="/xmx/images/map.gif" width="36" height="14" border="0"/></a>

            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1254565334'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254565334%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>

        </div>
        <div class="clear"></div>
    </div>
    <script language="javascript" type="text/javascript" src="/js/rootLink.js"></script>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/vue.min.js"></script>

    <script type="text/javascript" src="/js/appjs/xmx/turbine-blade-115.js"></script>
    <div class="flinks">Friendly Links:
        &nbsp;


    </div>
</div>
<div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1254565334'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254565334%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

<noscript>
    <iframe scr="*.htm"></iframe>
</noscript>
<script language="JavaScript">
    document.oncontextmenu = new Function("event.returnValue=true;");
    document.onselectstart = new Function("event.returnValue=true;");
</script>

</body>
</html>
