<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxyhton.cont.dao.ContSitemapDao">

	<select id="get" resultType="com.sxyhton.cont.domain.ContSitemapDO">
		select `cont_sitemap_id`,`lang_type`,`page_type`,`page_title`,`loc`,`lastmod`,`changefreq`,`priority`,`gmt_create`,`gmt_modified` from cont_sitemap where cont_sitemap_id = #{value}
	</select>

	<select id="list" resultType="com.sxyhton.cont.domain.ContSitemapDO">
		select `cont_sitemap_id`,`lang_type`,`page_type`,`page_title`,`loc`,`lastmod`,`changefreq`,`priority`,`gmt_create`,`gmt_modified` from cont_sitemap
        <where>  
		  		  <if test="contSitemapId != null and contSitemapId != ''"> and cont_sitemap_id = #{contSitemapId} </if>
		  		  <if test="langType != null and langType != ''"> and lang_type = #{langType} </if>
		  		  <if test="pageType != null and pageType != ''"> and page_type = #{pageType} </if>
		  		  <if test="pageTitle != null and pageTitle != ''"> and page_title = #{pageTitle} </if>
		  		  <if test="loc != null and loc != ''"> and loc = #{loc} </if>
		  		  <if test="lastmod != null and lastmod != ''"> and lastmod = #{lastmod} </if>
		  		  <if test="changefreq != null and changefreq != ''"> and changefreq = #{changefreq} </if>
		  		  <if test="priority != null and priority != ''"> and priority = #{priority} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by cont_sitemap_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from cont_sitemap
		 <where>  
		  		  <if test="contSitemapId != null and contSitemapId != ''"> and cont_sitemap_id = #{contSitemapId} </if>
		  		  <if test="langType != null and langType != ''"> and lang_type = #{langType} </if>
		  		  <if test="pageType != null and pageType != ''"> and page_type = #{pageType} </if>
		  		  <if test="pageTitle != null and pageTitle != ''"> and page_title = #{pageTitle} </if>
		  		  <if test="loc != null and loc != ''"> and loc = #{loc} </if>
		  		  <if test="lastmod != null and lastmod != ''"> and lastmod = #{lastmod} </if>
		  		  <if test="changefreq != null and changefreq != ''"> and changefreq = #{changefreq} </if>
		  		  <if test="priority != null and priority != ''"> and priority = #{priority} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.sxyhton.cont.domain.ContSitemapDO">
		insert into cont_sitemap
		(
			`cont_sitemap_id`, 
			`lang_type`, 
			`page_type`, 
			`page_title`, 
			`loc`, 
			`lastmod`, 
			`changefreq`, 
			`priority`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{contSitemapId}, 
			#{langType}, 
			#{pageType}, 
			#{pageTitle}, 
			#{loc}, 
			#{lastmod}, 
			#{changefreq}, 
			#{priority}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.sxyhton.cont.domain.ContSitemapDO">
		update cont_sitemap 
		<set>
			<if test="langType != null">`lang_type` = #{langType}, </if>
			<if test="pageType != null">`page_type` = #{pageType}, </if>
			<if test="pageTitle != null">`page_title` = #{pageTitle}, </if>
			<if test="loc != null">`loc` = #{loc}, </if>
			<if test="lastmod != null">`lastmod` = #{lastmod}, </if>
			<if test="changefreq != null">`changefreq` = #{changefreq}, </if>
			<if test="priority != null">`priority` = #{priority}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where cont_sitemap_id = #{contSitemapId}
	</update>
	
	<delete id="remove">
		delete from cont_sitemap where cont_sitemap_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from cont_sitemap where cont_sitemap_id in 
		<foreach item="contSitemapId" collection="array" open="(" separator="," close=")">
			#{contSitemapId}
		</foreach>
	</delete>

</mapper>