<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxyhton.cont.dao.ContProductDao">

	<select id="get" resultType="com.sxyhton.cont.domain.ContProductDO">
		select `cont_product_id`,`product_name`,`category_id`,`sale_status`,`level`,`create_by`,`gmt_create`,`gmt_modified` from cont_product where cont_product_id = #{value}
	</select>

	<select id="list" resultType="com.sxyhton.cont.domain.ContProductDO">
		select `cont_product_id`,`product_name`,`category_id`,`sale_status`,`level`,`create_by`,`gmt_create`,`gmt_modified` from cont_product
        <where>  
		  		  <if test="contProductId != null and contProductId != ''"> and cont_product_id = #{contProductId} </if>
		  		  <if test="productName != null and productName != ''"> and product_name = #{productName} </if>
		  		  <if test="categoryId != null and categoryId != ''"> and category_id = #{categoryId} </if>
		  		  <if test="saleStatus != null and saleStatus != ''"> and sale_status = #{saleStatus} </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by cont_product_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from cont_product
		 <where>  
		  		  <if test="contProductId != null and contProductId != ''"> and cont_product_id = #{contProductId} </if>
		  		  <if test="productName != null and productName != ''"> and product_name = #{productName} </if>
		  		  <if test="categoryId != null and categoryId != ''"> and category_id = #{categoryId} </if>
		  		  <if test="saleStatus != null and saleStatus != ''"> and sale_status = #{saleStatus} </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.sxyhton.cont.domain.ContProductDO" useGeneratedKeys="true" keyProperty="contProductId">
		insert into cont_product
		(
			`product_name`, 
			`category_id`, 
			`sale_status`, 
			`level`, 
			`create_by`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{productName}, 
			#{categoryId}, 
			#{saleStatus}, 
			#{level}, 
			#{createBy}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.sxyhton.cont.domain.ContProductDO">
		update cont_product 
		<set>
			<if test="productName != null">`product_name` = #{productName}, </if>
			<if test="categoryId != null">`category_id` = #{categoryId}, </if>
			<if test="saleStatus != null">`sale_status` = #{saleStatus}, </if>
			<if test="level != null">`level` = #{level}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where cont_product_id = #{contProductId}
	</update>
	
	<delete id="remove">
		delete from cont_product where cont_product_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from cont_product where cont_product_id in 
		<foreach item="contProductId" collection="array" open="(" separator="," close=")">
			#{contProductId}
		</foreach>
	</delete>
	<select id="leftCategoryList" resultType="com.sxyhton.cont.domain.ContProductDO">
		select pd.cont_product_id,pd.product_name,pd.category_id,pd.sale_status,pd.create_by,
		pd.gmt_create,pd.gmt_modified,cg.category_name,pd.level
		from cont_product as pd left join cont_category as cg on pd.category_id=cg.cont_category_id
        <where>  
	  		<if test="contProductId != null and contProductId != ''"> and pd.cont_product_id = #{contProductId} </if>
	  		<if test="productName != null and productName != ''"> and pd.product_name = #{productName} </if>
	  		<if test="categoryId != null and categoryId != ''"> and pd.category_id = #{categoryId} </if>
	  		<if test="saleStatus != null and saleStatus != ''"> and pd.sale_status = #{saleStatus} </if>
	  		<if test="createBy != null and createBy != ''"> and pd.create_by = #{createBy} </if>
	  		<if test="gmtCreate != null and gmtCreate != ''"> and pd.gmt_create = #{gmtCreate} </if>
	  		<if test="gmtModified != null and gmtModified != ''"> and pd.gmt_modified = #{gmtModified} </if>
  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by cont_product_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="leftCategoryListCount" resultType="int">
		select count(*) 
		from cont_product as pd left join cont_category as cg on pd.category_id=cg.cont_category_id
        <where>  
	  		<if test="contProductId != null and contProductId != ''"> and pd.cont_product_id = #{contProductId} </if>
	  		<if test="productName != null and productName != ''"> and pd.product_name = #{productName} </if>
	  		<if test="categoryId != null and categoryId != ''"> and pd.category_id = #{categoryId} </if>
	  		<if test="saleStatus != null and saleStatus != ''"> and pd.sale_status = #{saleStatus} </if>
	  		<if test="createBy != null and createBy != ''"> and pd.create_by = #{createBy} </if>
	  		<if test="gmtCreate != null and gmtCreate != ''"> and pd.gmt_create = #{gmtCreate} </if>
	  		<if test="gmtModified != null and gmtModified != ''"> and pd.gmt_modified = #{gmtModified} </if>
  		</where>
	</select>

</mapper>