<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.cont.dao.ContCategoryInfoDao">

	<select id="get" resultType="com.cloudht.cont.domain.ContCategoryInfoDO">
		select `cont_category_info_id`,`cont_category_id`,`lang_type`,`category_name` from cont_category_info where cont_category_info_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.cont.domain.ContCategoryInfoDO">
		select `cont_category_info_id`,`cont_category_id`,`lang_type`,`category_name` from cont_category_info
        <where>  
		  		  <if test="contCategoryInfoId != null and contCategoryInfoId != ''"> and cont_category_info_id = #{contCategoryInfoId} </if>
		  		  <if test="contCategoryId != null and contCategoryId != ''"> and cont_category_id = #{contCategoryId} </if>
		  		  <if test="langType != null and langType != ''"> and lang_type = #{langType} </if>
		  		  <if test="categoryName != null and categoryName != ''"> and category_name = #{categoryName} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by cont_category_info_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from cont_category_info
		 <where>  
		  		  <if test="contCategoryInfoId != null and contCategoryInfoId != ''"> and cont_category_info_id = #{contCategoryInfoId} </if>
		  		  <if test="contCategoryId != null and contCategoryId != ''"> and cont_category_id = #{contCategoryId} </if>
		  		  <if test="langType != null and langType != ''"> and lang_type = #{langType} </if>
		  		  <if test="categoryName != null and categoryName != ''"> and category_name = #{categoryName} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.cont.domain.ContCategoryInfoDO">
		insert into cont_category_info
		(
			`cont_category_info_id`, 
			`cont_category_id`, 
			`lang_type`, 
			`category_name`
		)
		values
		(
			#{contCategoryInfoId}, 
			#{contCategoryId}, 
			#{langType}, 
			#{categoryName}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.cont.domain.ContCategoryInfoDO">
		update cont_category_info 
		<set>
			<if test="contCategoryId != null">`cont_category_id` = #{contCategoryId}, </if>
			<if test="langType != null">`lang_type` = #{langType}, </if>
			<if test="categoryName != null">`category_name` = #{categoryName}</if>
		</set>
		where cont_category_info_id = #{contCategoryInfoId}
	</update>
	
	<delete id="remove">
		delete from cont_category_info where cont_category_info_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from cont_category_info where cont_category_info_id in 
		<foreach item="contCategoryInfoId" collection="array" open="(" separator="," close=")">
			#{contCategoryInfoId}
		</foreach>
	</delete>

</mapper>