<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.cont.dao.ContCategoryDao">

	<select id="get" resultType="com.cloudht.cont.domain.ContCategoryDO">
		select `cont_category_id`,`category_type`,`parent_category_id`,`category_name`,`category_code`,`sort`,`create_by`,`remark`,`gmt_create`,`gmt_modified` from cont_category where cont_category_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.cont.domain.ContCategoryDO">
		select `cont_category_id`,`category_type`,`parent_category_id`,`category_name`,`category_code`,`sort`,`create_by`,`remark`,`gmt_create`,`gmt_modified` from cont_category
        <where>  
		  		  <if test="contCategoryId != null and contCategoryId != ''"> and cont_category_id = #{contCategoryId} </if>
		  		  <if test="categoryType != null and categoryType != ''"> and category_type = #{categoryType} </if>
		  		  <if test="parentCategoryId != null and parentCategoryId != ''"> and parent_category_id = #{parentCategoryId} </if>
		  		  <if test="categoryName != null and categoryName != ''"> and category_name = #{categoryName} </if>
		  		  <if test="categoryCode != null and categoryCode != ''"> and category_code = #{categoryCode} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by cont_category_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from cont_category
		 <where>  
		  		  <if test="contCategoryId != null and contCategoryId != ''"> and cont_category_id = #{contCategoryId} </if>
		  		  <if test="categoryType != null and categoryType != ''"> and category_type = #{categoryType} </if>
		  		  <if test="parentCategoryId != null and parentCategoryId != ''"> and parent_category_id = #{parentCategoryId} </if>
		  		  <if test="categoryName != null and categoryName != ''"> and category_name = #{categoryName} </if>
		  		  <if test="categoryCode != null and categoryCode != ''"> and category_code = #{categoryCode} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.cont.domain.ContCategoryDO" useGeneratedKeys="true" keyProperty="contCategoryId">
		insert into cont_category
		(
			`category_type`, 
			`parent_category_id`, 
			`category_name`, 
			`category_code`, 
			`sort`, 
			`create_by`, 
			`remark`, 
			`gmt_create`, 
			`gmt_modified`
		)
		values
		(
			#{categoryType}, 
			#{parentCategoryId}, 
			#{categoryName}, 
			#{categoryCode}, 
			#{sort}, 
			#{createBy}, 
			#{remark}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.cont.domain.ContCategoryDO">
		update cont_category 
		<set>
			<if test="categoryType != null">`category_type` = #{categoryType}, </if>
			<if test="parentCategoryId != null">`parent_category_id` = #{parentCategoryId}, </if>
			<if test="categoryName != null">`category_name` = #{categoryName}, </if>
			<if test="categoryCode != null">`category_code` = #{categoryCode}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		where cont_category_id = #{contCategoryId}
	</update>
	
	<delete id="remove">
		delete from cont_category where cont_category_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from cont_category where cont_category_id in 
		<foreach item="contCategoryId" collection="array" open="(" separator="," close=")">
			#{contCategoryId}
		</foreach>
	</delete>


	<!--		new							-->

	<resultMap id="categoryInfo" type="com.cloudht.cont.domain.ContCategoryDO">
		<id property="contCategoryId" column="cont_category_id"></id>
		<result property="categoryType" column="category_code"></result>
		<result property="parentCategoryId" column="category_type"></result>
		<result property="categoryName" column="parent_category_id"></result>
		<result property="categoryCode" column="category_name"></result>
		<result property="sort" column="create_by"></result>
		<result property="createBy" column="gmt_create"></result>
		<result property="remark" column="gmt_modified"></result>
		<result property="gmtCreate" column=" sort"></result>
		<result property="gmtModified" column=" remark"></result>

		<association property="contCategoryInfoDO" column="{cont_category_id=cont_category_id,lang_type=lang_type}" select="getInfo"/>

	</resultMap>


	<select id="listInfoByDict" resultType="com.cloudht.cont.domain.ContCategoryInfoDO">

		SELECT C.`cont_category_info_id`,C.`cont_category_id`,C.`category_name`,B.`value` AS `lang_type`
		FROM
		(
		SELECT A.`cont_category_info_id`,A.`cont_category_id`,A.`lang_type`,A.`category_name`
		FROM cont_category_info A
		WHERE A.cont_category_id = #{contCategoryId}
		) AS C
		RIGHT JOIN sys_dict B ON C.lang_type=B.`value`
		WHERE  B.type='CmsLangType'
		ORDER BY B.sort
	</select>


	<select id="listInfo" resultMap="categoryInfo">
		select #{langType} as lang_type,`cont_category_id`,`category_type`,`parent_category_id`,`category_name`,`category_code`,`sort`,`create_by`,`remark`,`gmt_create`,`gmt_modified` from cont_category
		<where>
			<if test="contCategoryId != null and contCategoryId != ''"> and cont_category_id = #{contCategoryId} </if>
			<if test="categoryType != null and categoryType != ''"> and category_type = #{categoryType} </if>
			<if test="parentCategoryId != null and parentCategoryId != ''"> and parent_category_id = #{parentCategoryId} </if>
			<if test="categoryName != null and categoryName != ''"> and category_name = #{categoryName} </if>
			<if test="categoryCode != null and categoryCode != ''"> and category_code = #{categoryCode} </if>
			<if test="sort != null and sort != ''"> and sort = #{sort} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="remark != null and remark != ''"> and remark = #{remark} </if>
			<if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
			<if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by sort desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>


	</select>

	<select id="getInfo" resultType="com.cloudht.cont.domain.ContCategoryInfoDO">
		select `cont_category_info_id`,`cont_category_id`,`lang_type`,`category_name` from cont_category_info where cont_category_id = #{cont_category_id} AND  lang_type = #{lang_type}
	</select>

</mapper>