<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudht.cont.dao.ContProductPkDao">

	<select id="get" resultType="com.cloudht.cont.domain.ContProductPkDO">
		select `cont_product_pk_id`,`cont_product_param_id`,`param_value`,`sort` from cont_product_pk where cont_product_pk_id = #{value}
	</select>

	<select id="list" resultType="com.cloudht.cont.domain.ContProductPkDO">
		select `cont_product_pk_id`,`cont_product_param_id`,`param_value`,`sort` from cont_product_pk
        <where>  
		  		  <if test="contProductPkId != null and contProductPkId != ''"> and cont_product_pk_id = #{contProductPkId} </if>
		  		  <if test="contProductParamId != null and contProductParamId != ''"> and cont_product_param_id = #{contProductParamId} </if>
		  		  <if test="paramValue != null and paramValue != ''"> and param_value = #{paramValue} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by cont_product_pk_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from cont_product_pk
		 <where>  
		  		  <if test="contProductPkId != null and contProductPkId != ''"> and cont_product_pk_id = #{contProductPkId} </if>
		  		  <if test="contProductParamId != null and contProductParamId != ''"> and cont_product_param_id = #{contProductParamId} </if>
		  		  <if test="paramValue != null and paramValue != ''"> and param_value = #{paramValue} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cloudht.cont.domain.ContProductPkDO" useGeneratedKeys="true" keyProperty="contProductPkId">
		insert into cont_product_pk
		(
			`cont_product_param_id`, 
			`param_value`, 
			`sort`
		)
		values
		(
			#{contProductParamId}, 
			#{paramValue}, 
			#{sort}
		)
	</insert>
	 
	<update id="update" parameterType="com.cloudht.cont.domain.ContProductPkDO">
		update cont_product_pk 
		<set>
			<if test="contProductParamId != null">`cont_product_param_id` = #{contProductParamId}, </if>
			<if test="paramValue != null">`param_value` = #{paramValue}, </if>
			<if test="sort != null">`sort` = #{sort}</if>
		</set>
		where cont_product_pk_id = #{contProductPkId}
	</update>
	
	<delete id="remove">
		delete from cont_product_pk where cont_product_pk_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from cont_product_pk where cont_product_pk_id in 
		<foreach item="contProductPkId" collection="array" open="(" separator="," close=")">
			#{contProductPkId}
		</foreach>
	</delete>


	<!--	new					-->

	<insert id="batchInsert" parameterType="com.cloudht.cont.domain.ContProductPkDO" useGeneratedKeys="true" keyProperty="contProductPkId">
		insert into cont_product_pk
		(
		`cont_product_param_id`,
		`param_value`,
		`sort`
		)
		values
		<foreach collection ="list" item="item" index= "index" separator =",">
			(
			#{item.contProductParamId},
			#{item.paramValue},
			#{item.sort}
			)
		</foreach>
	</insert>

	<delete id="delByProductParamId">
		delete from cont_product_pk where cont_product_param_id = #{value}
	</delete>

	<delete id="delByProductId">
		delete from cont_product_pk where cont_product_param_id in (
			SELECT cont_product_param_id FROM cont_product_param where cont_product_id = #{value}
		)
	</delete>
</mapper>